.sw-text-editor {
  background-color: transparent;
  .sw-text-editor__content {
    background-color: transparent;
  }
}

button {
  display:flex;
  justify-content: center;
  align-items: center;
  span {
    height: inherit;
    width: inherit;
  }
}
.text {
  display:flex;
}
button {
  &.is--center {
    margin-left: auto;
    margin-right: auto;
  }
  &.is--left {
    margin-left:0;
    margin-right: auto;
  }
  &.is--right {
    margin-left:auto;
    margin-right: 0;
  }
}
span  {
  &.text-link {
    margin-top: 25px;
    &.is--center {
      margin-left: auto;
      margin-right: auto;
    }
    &.is--left {
      margin-left:0;
      margin-right: auto;
    }
    &.is--right {
      margin-left:auto;
      margin-right: 0;
    }
  }

}