{% block sw_cms_element_custom_text %}
    <div
            class="sw-cms-el-custom-text-wrapper"
            :style="styles"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_custom_text_content %}
            <sw-text-editor
                    :style="textStyles"
                    v-model="element.config.text.value"
                    :allow-inline-data-mapping="true"
                    :is-inline-edit="true"
                    {#                            @blur="onBlur" #}
                    {#                            @input="onInput" #}
            />
        {% endblock %}
        {% block sw_cms_element_custom_text_button %}
            <sw-button v-if="element.config.useButton.value" :class="getButtonClasses"
                       :style="buttonStyles">{{ linkOrButtonText }}</sw-button>
        {% endblock %}

        {% block sw_cms_element_custom_image_link_text %}
            <span v-if="element.config.useTextLink.value" class="text-link" :class="linkClasses"
                  :style="linkStyles">{{ linkOrButtonText }}</span>
        {% endblock %}
    </div>
{% endblock %}
