<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image %}
<div
    class="sw-cms-el-image"
    :class="displayModeClass"
    :style="styles"
>
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_element_image_content %}
    <img
        :src="mediaUrl"
        :style="imgStyles"
        alt=""
    >
        <span class="image-link-span" :style="linkStyles">{{ text }}</span>
    {% endblock %}
</div>
{% endblock %}
