.sw-cms-el-image {
    display: flex;
    max-width: 100%;
    position:relative;

    img {
        display: block;
        max-width: 100%;
        //aspect-ratio: 1;
    }

    &.is--cover {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &.is--display-type-square, .is--display-type-circle {

            img {
                height: unset;
                aspect-ratio: 1;
            }
        }
        &.is--display-type-circle {
            img {
                border-radius: 50%;
            }
        }
    }

    &.is--stretch {
        img {
            width: 100%;
        }
    }
    span {
        position: absolute;
        width: fit-content;
        height: fit-content;
        color: #062535;
        z-index: 10;
        font-size: 15px;
    }

    &.text-bottom {
        span {
            left: 0;
            right: 0;
            margin-top: auto;
            bottom: 0;
        }
    }

    &.text-center {
        span {
            top: 0;
            bottom: 0;
            margin:auto 0;
        }
        &.center {
            span {
                left: 0;
                right: 0;
                margin: auto;
            }
        }
    }

    &.text-top {
        span {
            left: 0;
            right: 0;
            margin-bottom: auto;
            top: 0
        }
    }

    &.center {
        span {
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }

    &.left {
        span {
            right: auto;
            left: 0;
        }
    }

    &.right {
        span {
            left: auto;
            right: 0;
        }
    }
}
