<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_accordion_config %}
    {% block sw_cms_element_image_config %}
        <div class="accordion-container-wrapper">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        <div class="accordion-wrapper">
        <div v-for="(item, index) in element.config.entries.value" class="accordion">
            <div>
                <sw-tabs
                        position-identifier="sw-cms-element-config-text"
                        class="sw-cms-el-config-text__tabs"
                        default-item="content"
                >
                    <template #default="{ active }">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_config_text_tab_content %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-image.tabs.textContent')"
                                    name="content"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-image.tabs.textContent') }}
                            </sw-tabs-item>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_config_text_tab_content %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.accordion.tabs.accordionItemSettings')"
                                    name="accordion-settings"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.accordion.tabs.accordionItemSettings') }}
                            </sw-tabs-item>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    </template>

                    <template #content="{ active }"
                    >
                        {% block sw_cms_el_text_config_content %}
                            <sw-container
                                    v-if="active === 'content'"
                                    class="sw-cms-el-config-text__tab-content"
                            >
                                <sw-text-field
                                        v-model="item.title"
                                        :label="$tc('rc-cms.elements.config.accordion.item.title')"
                                        :placeholder="$tc('rc-cms.elements.config.accordion.item.placeholder')"
                                        @change="onChangeItemTitle($event, index)"
                                        @input="onChangeItemTitle($event, index)"
                                />
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                <sw-cms-mapping-field
                                        v-model="element.config.entries[index]"
                                        :label="$tc('sw-cms.elements.text.config.label.content')"
                                        value-types="string"
                                >
                                    <sw-text-editor
                                            v-model="item.content"
                                            :allow-inline-data-mapping="true"
                                            :vertical-align="item.verticalAlign"
                                            sanitize-input
                                            enable-transparent-background
                                            @input="onContentChange($event, index)"
                                    />

                                    <template #preview="{ demoValue }">
                                        <div class="sw-cms-el-config-text__mapping-preview">
                                            <div v-html="$sanitize(demoValue)"></div>
                                        </div>
                                    </template>
                                </sw-cms-mapping-field>
                            </sw-container>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_text_config_content %}
                            <sw-container
                                    v-if="active === 'accordion-settings'"
                                    class="sw-cms-el-config-text__tab-content"
                            >
                                <div class="sw-cms-el-config-image__text">
                                    <sw-colorpicker
                                            style="z-index: 1001"
                                            :label="$tc('rc-cms.elements.config.accordion.item.buttonBackgroundColor')"
                                            v-model="item.btnBackground"
                                            value="item.btnBackground"
                                            colorOutput="auto"
                                            :alpha="true"
                                            :disabled="false"
                                            :colorLabels="true">
                                    </sw-colorpicker>
                                    <sw-colorpicker
                                            style="z-index: 1001"
                                            :label="$tc('rc-cms.elements.config.accordion.item.buttonFontColor')"
                                            v-model="item.btnColor"
                                            value="item.btnColor"
                                            colorOutput="auto"
                                            :alpha="true"
                                            :disabled="false"
                                            :colorLabels="true">
                                    </sw-colorpicker>
                                    <sw-colorpicker
                                            style="z-index: 1001"
                                            :label="$tc('rc-cms.elements.config.accordion.item.panelBackgroundColor')"
                                            v-model="item.panelBackground"
                                            value="item.panelBackground"
                                            colorOutput="auto"
                                            :alpha="true"
                                            :disabled="false"
                                            :colorLabels="true">
                                    </sw-colorpicker>
                                    <sw-text-field
                                            v-model="item.btnRadius"
                                            :label="$tc('rc-cms.elements.config.accordion.item.buttonRadius')"
                                            @input="onChangeButtonRadius($event, index)"
                                            @change="onChangeButtonRadius($event, index)"
                                            :help-text="$tc('rc-cms.helpText.btnRadius')"
                                    />
                                </div>
                                <sw-text-field
                                        v-model="item.fontSize"
                                        :label="$tc('rc-cms.elements.config.accordion.item.fontSize')"
                                        @input="onChangeFontSize($event, index)"
                                        @change="onChangeFontSize($event, index)"
                                />
                                <sw-select-field
                                        v-model="item.fontWeight"
                                        class="sw-cms-el-config-image__font-weight"
                                        :label="$tc('rc-cms.elements.config.accordion.item.fontWeight')"
                                        @change="onChangeFontWeight($event, index)"
                                >
                                    <option value="100">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.thin') }}
                                    </option>
                                    <option value="200">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.extraLight') }}
                                    </option>
                                    <option value="300">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.light') }}
                                    </option>
                                    <option value="400">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.normal') }}
                                    </option>
                                    <option value="500">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.medium') }}
                                    </option>
                                    <option value="600">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.semiBold') }}
                                    </option>
                                    <option value="700">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.bold') }}
                                    </option>
                                    <option value="800">
                                        {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.extraBold') }}
                                    </option>
                                </sw-select-field>
                            </sw-container>
                        {% endblock %}
                    </template>
                </sw-tabs>

            </div>
            <div>
                <sw-button class="add-button" @click="removeItem(index)" :title="$tc('rc-cms.elements.config.accordion.item.removeItem')">-</sw-button>
            </div>
        </div>
        {% block accordion_addButton %}
            <sw-button class="add-button" @click="addItem" :title="$tc('rc-cms.elements.config.accordion.item.addItem')">+</sw-button>
        {% endblock %}
    {% endblock %}
    </div>

    </div>
{% endblock %}