.accordion-container-wrapper {


  .accordion {
    display: grid;
    grid-template-columns: 9fr 3fr;
    position: relative;
    padding: 15px;
    border: 1px solid #444;
    border-radius: 15px;
    margin: 25px;
  }
  .add-button {
    margin: 25px auto 25px 25px;
    display: flex;
  }
}