<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image %}
    <div
            class="sw-cms-el-image-text-sibling"
            :style="styles"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_text_sibling_image_content %}
            <div class="sw-cms-el-image-container" :style="rowStyles">
                <img
                        :src="mediaUrl"
                        alt=""
                >
            </div>
        {% endblock %}
        {% block sw_cms_element_image_text_sibling_text_content %}
            <div class="sw_cms-el-image-text" :style="textContainerMarkup">
                <sw-text-editor
                        :style="textStyles"
                        v-model="element.config.content.value"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
{#                        sanitize-input#}
                        @blur="onBlur"
                        @input="onInput"
                />
                <sw-button :class="getButtonClasses" v-if="element.config.url.value">{{ element.config.buttonText.value }}</sw-button>
            </div>
        {% endblock %}
    </div>
{% endblock %}
