.sw-cms-el-image-text-sibling {
    display: flex;
    width: 100%;
    position:relative;
    .sw-cms-el-image-container {
        min-width: 33%;
        display: block;
        width: 33%;
        max-width: 66%;
        min-height: 220px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .sw_cms-el-image-text {
        //height: 100%;
        display: flex;
        flex-grow: 1;
        text-align: center;
        .sw-text-editor {
            .sw-text-editor__box {
                .sw-text-editor__content {
                    background-color: transparent;

                }
            }
        }
        button {
            width: fit-content;
            border-radius: 50rem;
            line-height: unset;
            &.is-center {
                align-self: center;
            };
            &.is-flex-start {
                align-self: start;
            }
            &.is-flex-end {
                align-self: end;
            }
        }
    }
}
