<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_custom_image_config %}
    {% block sw_cms_element_image_config %}
        <div class="sw-cms-el-config-text">
            {% block sw_cms_element_custom_text_height %}
                <sw-text-field
                        v-model="element.config.minHeight.value"
                        :label="$tc('rc-cms.elements.config.custom-text.textHeight')"
                        :placeholder="$tc('rc-cms.elements.config.custom-text.textHeightPlaceHolder')"
                        @change="onChangeMinHeight"
                        @input="onChangeMinHeight"
                />
            {% endblock %}

            {% block sw_cms_element_custom_text_background_color %}
                <sw-colorpicker
                        style="z-index:1001;"
                        :label="$tc('rc-cms.elements.config.custom-text.backgroundColor')"
                        v-model="element.config.backgroundColor.value"
                        value="#fffff00"
                        colorOutput="auto"
                        :alpha="true"
                        :disabled="false"
                        :colorLabels="true">

                </sw-colorpicker>
            {% endblock %}

            {% block sw_cms_element_custom_image_show_overlay %}
                <sw-switch-field
                        v-model="useButton"
                        class="sw-cms-el-config-image__link-tab"
                        :label="$tc('rc-cms.elements.config.custom-text.useButton')"
                        @change="onChangeUseButton"
                />
                <sw-switch-field
                        v-model="useTextLink"
                        class="sw-cms-el-config-image__link-tab"
                        :label="$tc('rc-cms.elements.config.custom-text.useTextLink')"
                        @change="onChangeUseTextLink"
                />
            {% endblock %}

            {% block sw_cms_element_custom_image_with_text_link %}
                <sw-tabs
                        position-identifier="sw-cms-element-config-text"
                        class="sw-cms-el-config-text__tabs"
                        default-item="content"
                >
                    <template #default="{ active }">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_config_text_tab_content %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-image.tabs.textContent')"
                                    name="content"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-image.tabs.textContent') }}
                            </sw-tabs-item>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_config_text_tab_content %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-text.tabs.buttonOrLinkSettings')"
                                    name="text-content"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-text.tabs.buttonOrLinkSettings') }}
                            </sw-tabs-item>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_url_config_tab_options %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-image.tabs.urlSettings')"
                                    name="url-settings"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-image.tabs.urlSettings') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </template>

                    <template #content="{ active }"
                    >
                        {% block sw_cms_el_text_config_content %}
                            <sw-container
                                    v-if="active === 'content'"
                                    class="sw-cms-el-config-text__tab-content"
                            >
                                <sw-select-field
                                        {% if VUE3 %}
                                            v-model:value="element.config.verticalAlign.value"
                                        {% else %}
                                            v-model="element.config.verticalAlign.value"
                                        {% endif %}
                                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                >
                                    <option value="flex-start">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                                    </option>
                                    <option value="center">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                                    </option>
                                    <option value="flex-end">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                                    </option>
                                </sw-select-field>
                                <sw-cms-mapping-field
                                        v-model="element.config.text"
                                        :label="$tc('sw-cms.elements.text.config.label.content')"
                                        value-types="string"
                                >
                                    <sw-text-editor
                                            v-model="element.config.text.value"
                                            :allow-inline-data-mapping="true"
                                            :vertical-align="element.config.verticalAlign.value"
                                            sanitize-input
                                            enable-transparent-background
                                            @input="onContentChange"
                                            @blur="onContentChange"
                                    />

                                    <template #preview="{ demoValue }">
                                        <div class="sw-cms-el-config-text__mapping-preview">
                                            <div v-html="$sanitize(demoValue)"></div>
                                        </div>
                                    </template>
                                </sw-cms-mapping-field>
                            </sw-container>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_text_config_content %}
                            <sw-container
                                    v-if="active === 'text-content'"
                                    class="sw-cms-el-config-text__tab-content"
                            >
                                <div class="sw-cms-el-config-image__text">
                                    <sw-text-field
                                            v-model="element.config.linkOrButtonText.value"
                                            :label="$tc('rc-cms.elements.config.custom-image.linkOrButtonText')"
                                            :placeholder="$tc('rc-cms.elements.config.custom-image.linkOrButtonTextHolder')"
                                            @input="onChangeLinkOrButtonText"
                                            @change="onChangeLinkOrButtonText"
                                    />
                                    <sw-colorpicker
                                            v-if="element.config.useButton.value"
                                            style="z-index: 1001"
                                            :label="$tc('rc-cms.elements.config.custom-text.buttonColor')"
                                            v-model="element.config.buttonColor.value"
                                            value="element.config.buttonColor.value"
                                            colorOutput="auto"
                                            :alpha="true"
                                            :disabled="false"
                                            :colorLabels="true">
                                    </sw-colorpicker>
                                    <sw-colorpicker
                                            style="z-index: 1001"
                                            :label="$tc('rc-cms.elements.config.custom-text.textColor')"
                                            v-model="element.config.linkColor.value"
                                            value="element.config.linkColor.value"
                                            colorOutput="auto"
                                            :alpha="true"
                                            :disabled="false"
                                            :colorLabels="true">
                                    </sw-colorpicker>
                                    <sw-select-field
                                            {% if VUE3 %}
                                                v-model:value="element.config.linkPosition.value"
                                            {% else %}
                                                v-model="element.config.linkPosition.value"
                                            {% endif %}
                                            :label="$tc('rc-cms.elements.config.custom-text.linkPosition.label')"
                                    >
                                        <option value="left">
                                            {{ $tc('rc-cms.elements.config.custom-text.linkPosition.position.left') }}
                                        </option>
                                        <option value="center">
                                            {{ $tc('rc-cms.elements.config.custom-text.linkPosition.position.center') }}
                                        </option>
                                        <option value="right">
                                            {{ $tc('rc-cms.elements.config.custom-text.linkPosition.position.right') }}
                                        </option>
                                    </sw-select-field>
                                </div>

                                {% block sw_cms_element_image_config_text_size %}
                                    <sw-text-field
                                            v-model="element.config.fontSize.value"
                                            :label="$tc('rc-cms.elements.config.custom-image.fontSize')"
                                            :placeholder="$tc('rc-cms.elements.config.custom-image.fontSizePlaceHolder')"
                                            @input="onChangeFontSize"
                                            @change="onChangeFontSize"
                                    />
                                {% endblock %}
                                {% block sw_cms_element_image_config_text_weight %}
                                    <sw-select-field
                                            v-model="element.config.fontWeight.value"
                                            class="sw-cms-el-config-image__font-weight"
                                            :label="$tc('rc-cms.elements.config.custom-image.fontWeight')"
                                            @change="onChangeFontWeight"
                                    >
                                        <option value="100">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.thin') }}
                                        </option>
                                        <option value="200">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.extraLight') }}
                                        </option>
                                        <option value="300">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.light') }}
                                        </option>
                                        <option value="400">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.normal') }}
                                        </option>
                                        <option value="500">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.medium') }}
                                        </option>
                                        <option value="600">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.semiBold') }}
                                        </option>
                                        <option value="700">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.bold') }}
                                        </option>
                                        <option value="800">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.extraBold') }}
                                        </option>
                                    </sw-select-field>
                                {% endblock %}
                            </sw-container>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_url_config_settings %}
                            <sw-container
                                    v-if="active === 'url-settings'"
                                    class="sw-cms-el-config-text__tab-settings"
                            >
                                {% block sw_cms_element_image_config_link %}
                                    <div class="sw-cms-el-config-image__link">
                                        <sw-dynamic-url-field
                                                v-model="element.config.url.value"
                                        />
                                        <sw-field
                                                v-model="element.config.newTab.value"
                                                class="sw-cms-el-config-image__link-tab"
                                                type="switch"
                                                :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                        />
                                    </div>
                                {% endblock %}
                            </sw-container>
                        {% endblock %}
                    </template>
                </sw-tabs>
            {% endblock %}

        </div>
    {% endblock %}
{% endblock %}