<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_two_column_preview %}
    <div class="sw-cms-preview-image-text-two-column">
        <div class="wrapper">
            <img
                    :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
                    alt=""
            >
            <span>Text</span>
        </div>
        <div class="wrapper">
            <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
            >
            <span>Text</span>
        </div>
    </div>
{% endblock %}
