<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_four_column %}
<div class="sw-cms-block-image-text-four-column">
    <slot name="left"></slot>
    <slot name="center-left"></slot>
    <slot name="center-right"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
