<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_two_grid_block_6_6 %}
<div class="grid-block rc-cms-block-two-grid-block-6-6">
    <slot name="left"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
