<div>
    <button class="preview-accordion">Accordion item 1</button>
    <button class="preview-accordion active">Accordion item 2</button>
    <div class="preview-panel">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <button class="preview-accordion">Accordion item 3</button>
</div>