<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_text_siblin_config %}
    {% block sw_cms_element_image_config %}
        <div class="sw-cms-el-config-image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_media_upload %}
                <sw-cms-mapping-field
                        v-model="element.config.media"
                        :label="$tc('sw-cms.elements.image.link.label')"
                        value-types="entity"
                        entity="media"
                >
                    <sw-media-upload-v2
                            variant="regular"
                            :upload-tag="uploadTag"
                            :source="previewSource"
                            :allow-multi-select="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove"
                    />

                    <template #preview="{ demoValue }">
                        <div class="sw-cms-el-config-image__mapping-preview">
                            <img
                                    v-if="demoValue.url"
                                    :src="demoValue.url"
                                    alt=""
                            >
                            <sw-alert
                                    v-else
                                    class="sw-cms-el-config-image__preview-info"
                                    variant="info"
                            >
                                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                            </sw-alert>
                        </div>
                    </template>
                </sw-cms-mapping-field>
                <sw-text-field
                        v-model="element.config.rowHeight.value"
                        label="Element Height"
                        placeholder="250px"
                        @input="onChangeRowHeight"
                        @change="onChangeRowHeight"
                />
                <sw-text-field
                        v-model="element.config.imageWidth.value"
                        value="element.config.imageWidth.value"
                        label="Enter image width(%) between 20% and 80%"
                        placeholder="33%"
                        @input="onChangeImageWidth"
                        @change="onChangeImageWidth"
                />
                <sw-label v-if="imageFirst">Image - Text</sw-label>
                <sw-label v-if="!imageFirst">Text - Image</sw-label>
                <sw-field
                        v-model="imageFirst"
                        class="sw-cms-el-config-image-text-order"
                        type="switch"
                        @change="onSwitchImageFirst"
                        label="switch display order"
                />

                <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="onImageUpload"
                />
            {% endblock %}
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {#            {% block sw_cms_element_image_config_min_height %} #}
            {#                <sw-text-field #}
            {#                        v-model="element.config.minHeight.value" #}
            {#                        :label="$tc('sw-cms.elements.image.config.label.minHeight')" #}
            {#                        :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')" #}
            {#                        @input="onChangeMinHeight" #}
            {#                /> #}
            {#            {% endblock %} #}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_media_modal %}
                <sw-media-modal-v2
                        v-if="mediaModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onImageRemove"
                        @media-modal-selection-change="onSelectionChanges"
                        @modal-close="onCloseModal"
                />
            {% endblock %}
            <sw-tabs
                    position-identifier="sw-cms-element-config-text"
                    class="sw-cms-el-config-text__tabs"
                    default-item="content"
            >
                <template #default="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_config_text_tab_content %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.general.config.tab.content')"
                                name="content"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_tab_options %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.general.config.tab.settings')"
                                name="settings"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.settings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_content %}
                        <sw-container
                                v-if="active === 'content'"
                                class="sw-cms-el-config-text__tab-content"
                        >
                            <sw-cms-mapping-field
                                    v-model="element.config.content"
                                    :label="$tc('sw-cms.elements.text.config.label.content')"
                                    value-types="string"
                            >
                                <sw-text-editor
                                        v-model="element.config.content.value"
                                        :allow-inline-data-mapping="true"
                                        sanitize-input
                                        enable-transparent-background
                                        @input="onInput"
                                        @blur="onBlur"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-text__mapping-preview">
                                        <div v-html="$sanitize(demoValue)"></div>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>
                        </sw-container>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_settings %}
                        <sw-container
                                v-if="active === 'settings'"
                                class="sw-cms-el-config-text__tab-settings"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_el_text_config_settings_vertical_align %}
                                <sw-select-field
                                        v-model="element.config.textVerticalAlign.value"
                                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                                        @change="onChangeTextVerticalAlign"
                                >
                                    <option value="flex-start">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                                    </option>
                                    <option value="center">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                                    </option>
                                    <option value="flex-end">
                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                                    </option>
                                </sw-select-field>

                                <div class="sw-cms-el-config-image__link">
                                    <sw-dynamic-url-field
                                            v-model="element.config.url.value"
                                    />
                                    <sw-text-field
                                            v-model="element.config.buttonText.value"
                                            value="element.config.buttonText.value"
                                            label="Enter text value for button"
                                            placeholder="button text"
                                            @input="onChangeButtonText"
                                            @change="onChangeButtonText"
                                    />
                                    <sw-field
                                            v-model="element.config.newTab.value"
                                            class="sw-cms-el-config-image__link-tab"
                                            type="switch"
                                            :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                    />

                                </div>
                            {% endblock %}
                            {% block sw_cms_el_text_config_background_color %}
                                <sw-colorpicker
                                        label="Choose the background color"
                                        v-model="element.config.textBackgroundColor.value"
                                        value="#0F4661"
                                        colorOutput="auto"
                                        :alpha="true"
                                        :disabled="false"
                                        :colorLabels="true"
                                        zIndex="1001">

                                </sw-colorpicker>
                            {% endblock %}
                        </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        </div>
    {% endblock %}
    {% block sw_cms_el_config_text %}

    {% endblock %}
{% endblock %}