//image and double image setup
.cms-element-image, .cms-element-double-image {
  .cms-image-container {
    &.is-circle {
      img {
        border-radius: 50%;
      }
    }

    &.is-display-cover {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        //object-position: top left;
      }
    }

    &.is-display-standard {
      justify-content: center;
      align-items: center;

      img {
        height: 33%;
        max-width: 100%;
        object-fit: contain;
        padding: 0 30px;
      }
    }

    &.is-display-stretch {
      img {
        width: 100%;
        height: 100%;
        object-fit: unset;
      }
    }
  }

  .image-link-span {
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: #062535;
    z-index: 10;
    font-size: 15px;

    &.text-bottom {
      left: 0;
      right: 0;
      margin-top: auto;
      bottom: 0;
    }

    &.text-center {
      top: 0;
      bottom: 0;
      margin: auto 0;

      &.center {
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    &.text-top {
      left: 0;
      right: 0;
      margin-bottom: auto;
      top: 0
    }

    &.center {
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    &.left {
      right: auto;
      left: 0;
    }

    &.right {
      left: auto;
      right: 0;
    }
  }
}


@media (min-width: 576px) {
  //image with overlay setup


  //COMMENT START

  .image-text-overlay-wrapper {
    height: inherit;

    .sw-cms-el-image-overlay {
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 15px;
      height: inherit;

      .editor-content {
        display: -webkit-box !important;
        width: 100%;
        -webkit-line-clamp: calc(var(--visibleLineAmount) + 1);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;

        p {
          max-width: 300px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          color: var(--ellipsisColor);
        }

        h2, h1, h3, h4, h5, h6 {
          margin: 0 auto;
          max-width: 100%;
        }
      }

      &.is--slider-enabled {
        .editor-content {
          height: 100%;

          *:not(h1, h2, h3, h4, h5, h6) {
            opacity: 0;
            height: 0;
            width: 0;
          }
        }

        .editor-content {
          h1, h2, h3, h4, h5, h6 {
            margin: auto 0;
            height: inherit;
            vertical-align: middle;
            display: flex;
            width: 100%;
            align-items: center;

            font {
              opacity: 100 !important;
              width: fit-content !important;
              height: fit-content !important;
            }
          }
        }

        &.bottom-up {
          bottom: 0;
          width: 100%;
          height: 2.5rem;
          transition: height 0.5s ease-out;
          padding: 0 15px;
        }

        &.top-down {
          display: flex;
          flex-direction: column-reverse;
          top: 0;
          height: 2.5rem;
          width: 100%;
          transition: height 0.5s ease-out;
          padding: 0 15px;

        }

        &.left-right {
          //display:flex;
          //flex-direction: column-reverse;
          left: 0;
          width: 2.5rem;
          height: 100%;
          padding: 10px 0;
          transition: width 0.5s ease-out;
          writing-mode: vertical-rl;
          text-orientation: upright;

          p {
            display: none;
          }
        }

        &.right-left {
          display: flex;
          justify-content: flex-end;
          flex-direction: row-reverse;
          right: 0;
          width: 2.5rem;
          height: 100%;
          padding: 10px 0;
          writing-mode: vertical-lr;
          text-orientation: upright;
          transition: width 0.5s ease-out;

          p {
            display: none;
          }
        }

      }

      &.is--slider-disabled {

        &.bottom-up {
          bottom: 0;
          width: 100%;
          height: var(--sliderSize);
        }

        &.top-down {
          top: 0;
          width: 100%;
          height: var(--sliderSize);
        }

        &.left-right {
          left: 0;
          height: 100%;
          width: var(--sliderSize);
        }

        &.right-left {
          right: 0;
          height: 100%;
          width: var(--sliderSize);
        }
      }
    }

    .is--overlay-slider-button {
      display: none;
    }

    .is--overlay-visible-button {
      display: block;
      width: fit-content;
      bottom: auto;
      right: 25px;
      margin-top: 10px;
      position: absolute;
    }

    &:hover {
      .sw-cms-el-image-overlay {
        &.is--slider-enabled {
          .editor-content {
            height: unset !important;
            //max-height: calc(100% - 2rem);

            * {
              opacity: 100 !important;
              width: initial !important;
              height: initial !important;
            }
          }

          &.bottom-up {
            height: var(--sliderSize);
            transition-property: height, padding;
            transition-duration: 0.5s, 0.2s;
            transition-delay: 0s, 0.2s;
            transition-timing-function: linear;
            padding: 10px 15px;
          }

          &.top-down {
            height: var(--sliderSize);
            transition: height 0.5s ease-in;
            padding: 10px 15px;
          }

          &.left-right {
            width: var(--sliderSize);
            transition: width 0.5s ease-out;
            writing-mode: unset;
            text-orientation: unset;
            padding: 10px 15px;

            p {
              display: -webkit-box;
              max-width: 300px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;

            }
          }

          &.right-left {
            width: var(--sliderSize);
            transition: width 0.5s ease-out;
            writing-mode: unset;
            text-orientation: unset;
            padding: 10px 15px;
            display: initial !important;

            p {
              max-width: 300px;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;

            }
          }

          h1, h2, h3, h4, h5, h6 {
            display: initial;
          }
        }
      }

      .is--overlay-slider-button {
        opacity: 100;
        transition: opacity 0.5s ease-in;
        border: none;
        background: transparent;
        padding: 0;
        display: block;
        width: fit-content;
        bottom: auto;
        right: 25px;
        margin-top: 10px;
        position: absolute;
      }
    }
  }
}


//UNDO ALL COMMENTS ABOVE THIS FOR REVERT STYLE OVERLAY
//text with link setup
.el-text-with-link {
  display: flex;
  height: 100%;
  width: 100%;

  .text-with-link-wrapper {
    display: flex;
    max-width: 100%;
    position: relative;
    max-height: 100%;
    flex-grow: 1;

    .text-with-link {
      display: grid;
      background-color: #fffacc95;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 15px;

      .editor-content {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: calc(var(--visibleLineAmount) + 1);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;

        p {
          color: var(--ellipsisColor);
        }
      }
    }

    .is--link-button {
      opacity: 100;
      border: none;
      background: transparent;
      padding: 0;
      width: fit-content;
      margin-left: auto;
      margin-right: 20px;
      margin-top: 10px;
    }
  }
}

@media (max-width: 576px) {
  .cms-element-image-text-sibling {
    display: flex !important;
    max-height: unset !important;
    flex-direction: column !important;

    .cms-element-image, .cms-element-text {
      width: 100% !important;
      max-width: 100% !important;
    }

    .cms-element-image {
      max-height: 120px;
    }

    .cms-element-text {
      max-height: 200px !important;
      //display: block !important;
      position: relative !important;

      .content {
        height: inherit;
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        margin: 15px 15px 40px;
      }

      a {
        position: absolute;
        bottom: 0;
        margin: 5px auto;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }


  .image-text-overlay-wrapper {
    height: inherit;

    .sw-cms-el-image-overlay {
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 15px;

      .editor-content {
        display: -webkit-box !important;
        width: 100%;
        -webkit-line-clamp: calc(var(--visibleLineAmount) + 1);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;
        height: fit-content;
        font-size: 18px;

        p {
          color: var(--ellipsisColor);
        }

        h2, h1, h3, h4, h5, h6 {
          margin: 0 auto;
          max-width: 100%;
        }
      }

      &.is--slider-enabled, .is--slider-disabled {

        &.bottom-up {
          bottom: 0;
          width: 100%;
          height: var(--sliderSize);
        }

        &.top-down {
          top: 0;
          width: 100%;
          height: var(--sliderSize);
        }

        &.left-right {
          left: 0;
          height: 100%;
          width: var(--sliderSize);
        }

        &.right-left {
          right: 0;
          height: 100%;
          width: var(--sliderSize);
        }
      }
    }

    .is--overlay-slider-button {
      display: block;
      width: fit-content;
      bottom: auto;
      right: 25px;
      margin-top: 10px;
      position: absolute;
    }

    .is--overlay-visible-button {
      display: block;
      width: fit-content;
      bottom: auto;
      right: 25px;
      margin-top: 10px;
      position: absolute;
    }
  }


  .image-text-overlay-wrapper {
    .sw-cms-el-image-overlay {
      &.is--slider-enabled {
        .editor-content {
          height: fit-content;

          //*:not(h1, h2, h3, h4, h5, h6) {
          //  opacity: 0;
          //  height: 0;
          //  width: 0;
          //}
        }

        .editor-content {
          *:not(h1, h2, h3, h4, h5, h6) {
            opacity: 1;
            height: unset;
            width: unset;
          }

          h1, h2, h3, h4, h5, h6 {
            margin: 3px 0;
            //height: 0.4rem;
            vertical-align: middle;
            display: flex;
            width: 100%;
            align-items: center;
            font-size: 0.6rem;

            font {
              opacity: 100 !important;
              width: fit-content !important;
              height: fit-content !important;
            }
          }

          p {
            font-size: 0.6rem;
          }
        }

        &.bottom-up {
          bottom: 0;
          width: 100%;
          height: var(--sliderSize);
          //transition: height 0.5s ease-out;
          padding: 0 15px;
        }

        &.top-down {
          display: flex;
          flex-direction: column-reverse;
          top: 0;
          height: var(--sliderSize);
          width: 100%;
          //transition: height 0.5s ease-out;
          padding: 0 15px;

        }

        &.left-right {
          //display:flex;
          //flex-direction: column-reverse;
          left: 0;
          width: var(--sliderSize);
          height: 100%;
          padding: 10px 0;
          //transition: width 0.5s ease-out;
          writing-mode: vertical-rl;
          text-orientation: upright;

          p {
            display: block;
          }
        }

        &.right-left {
          display: flex;
          justify-content: flex-end;
          flex-direction: row-reverse;
          right: 0;
          width: var(--sliderSize);
          height: 100%;
          padding: 10px 0;
          writing-mode: vertical-lr;
          text-orientation: upright;
          //transition: width 0.5s ease-out;

          p {
            display: block;
          }
        }

      }

      //.editor-content {
      //  height: var(--sliderSize);
      //  max-height: unset;
      //  h1, h2, h3, h4, h5, h6 {
      //    font-size: 0.6rem;
      //  }
      //
      //  p {
      //    font-size: 0.3rem;
      //  }
      //}
    }
  }
  div {
    &.grid-block {
      padding-bottom: calc(var(--bs-gutter-x) * 0.5);
    }
  }
}

@media (min-width: 576px) and (max-width: 770px) {
  div {
    &.grid-block {
      padding-bottom: calc(var(--bs-gutter-x) * 0.5);

      &:nth-of-type(3) {
        padding-top: calc(var(--bs-gutter-x) * 0.5);
      }

      &:nth-of-type(4) {
        padding-top: calc(var(--bs-gutter-x) * 0.5);
      }

    }
  }
}

.rounded {
  &.grid-block {
    * {
      border-radius: 15px !important;
    }

    .sw-cms-el-image-overlay {
      border-radius: 0 0 15px 15px !important;
    }
  }
}


.custom-image-wrapper {
  display: flex;
  max-width: 100%;
  position: relative;
  height: 100%;

  .img {
    display: block;
    max-width: 100%;
    position: relative;

    //aspect-ratio: 1;
  }

  span {
    &.image-link-span {
      position: absolute;
      width: fit-content;
      height: fit-content;
      color: #062535;
      z-index: 10;
      font-size: 15px;
    }
  }

  &.text-bottom {
    span {
      &.image-link-span {
        left: 0;
        right: 0;
        margin-top: auto;
        bottom: 0;
      }
    }
  }

  &.text-center {
    span {
      &.image-link-span {
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }

    &.center {
      span {
        &.image-link-span {
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }

  &.text-top {
    span {
      &.image-link-span {
        left: 0;
        right: 0;
        margin-bottom: auto;
        top: 0
      }
    }
  }

  &.center {
    span {
      &.image-link-span {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &.left {
    span {
      &.image-link-span {
        right: auto;
        left: 0;
      }
    }
  }

  &.right {
    span {
      &.image-link-span {
        left: auto;
        right: 0;
      }
    }
  }

  &.is--standard {
    .img {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

      }
    }
  }

  &.is--cover {

    .img {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //object-position: top left;
      }
    }

    //&:not(.is--square) {
    //  img {
    //    object-position: top left;
    //  }
    //}
    //&:not(.is--circle) {
    //  img {
    //    object-position: top left;
    //  }
    //}
  }

  &.is--circle {
    img {
      border-radius: 50%;
    }
  }

  &.is--stretch {
    .img {
      width: 100%;
      height: 100%;

      img {
        object-fit: fill;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &.is--standard, &.is--cover, &.is--stretch {
    &.position-horizontal--center {
      .img {
        margin: 0 auto;
      }


      &.position-vertical--center {
        .img {
          margin-top: auto;
          margin-bottom: auto;
        }

      }

      &.position-vertical--top {
        .img {
          margin-top: 0;
          margin-bottom: auto;
        }

      }

      &.position-vertical--bottom {
        .img {
          margin-top: auto;
          margin-bottom: 0;
        }
      }
    }

    &.position-horizontal--left {
      .img {
        margin: 0 auto 0 0;
      }

      &.position-vertical--center {
        .img {
          margin-top: auto;
          margin-bottom: auto;
        }

      }

      &.position-vertical--top {
        .img {
          margin-top: 0;
          margin-bottom: auto;
        }
      }

      &.position-vertical--bottom {
        .img {
          margin-top: auto;
          margin-bottom: 0;
        }
      }
    }

    &.position-horizontal--right {
      .img {
        margin: 0 0 0 auto;
      }

      &.position-vertical--center {
        .img {
          margin-top: auto;
          margin-bottom: auto;
        }
      }

      &.position-vertical--top {
        .img {
          margin-top: 0;
          margin-bottom: auto;
        }

      }

      &.position-vertical--bottom {
        .img {
          margin-top: auto;
          margin-bottom: 0;
        }

      }
    }
  }

  .sw-cms-el-custom-image-overlay {
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px;


    .sw-text-editor {
      position: relative;

      .sw-text-editor__content, .sw-text-editor__box {
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      h2, h1, h3, h4, h5, h6 {
        margin: 0 auto;
        max-width: 100%;
      }


      p {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: var(--visibleLineAmount);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;
        color: var(--ellipsisColor);
      }
    }

    &.is--slider-enabled {
      &.bottom-up {
        bottom: 0;
        width: 100%;
        height: calc(2rem + 20px);
        transition: height 0.5s ease-out;

        p {
          display: none;
        }
      }

      &.top-down {
        display: flex;
        flex-direction: column-reverse;
        top: 0;
        height: calc(2rem + 20px);
        width: 100%;
        transition: height 0.5s ease-out;

        p {
          display: none;
        }
      }

      &.left-right {
        //display:flex;
        //flex-direction: column-reverse;
        left: 0;
        width: 2rem;
        height: 100%;
        padding: 10px 0;
        transition: width 0.5s ease-out;
        writing-mode: vertical-rl;
        text-orientation: upright;

        p {
          display: none;
        }
      }

      &.right-left {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        right: 0;
        width: 2rem;
        height: 100%;
        padding: 10px 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
        transition: width 0.5s ease-out;

        p {
          display: none;
        }
      }

    }

    &.is--slider-disabled {
      &.bottom-up {
        bottom: 0;
        width: 100%;
        height: var(--sliderSize);
      }

      &.top-down {
        top: 0;
        width: 100%;
        height: var(--sliderSize);
      }

      &.left-right {
        left: 0;
        height: 100%;
        width: var(--sliderSize);
      }

      &.right-left {
        right: 0;
        height: 100%;
        width: var(--sliderSize);
      }
    }

    .is--overlay-slider-button {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 15px;
      bottom: 10px;
    }

    .is--overlay-visible-button {
      opacity: 100;
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 15px;
      bottom: 10px;
    }
  }

  &:hover {

    .sw-cms-el-custom-image-overlay {
      &.is--slider-enabled {
        &.bottom-up {
          height: auto;
          min-height: var(--sliderSize);
          transition: height 0.5s ease-in;

          p {
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: var(--visibleLineAmount);
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &.top-down {
          height: auto;
          min-height: var(--sliderSize);
          transition: height 0.5s ease-in;

          p {
            display: -webkit-box;

          }
        }

        &.left-right {
          width: var(--sliderSize);
          transition: width 0.5s ease-out;
          writing-mode: unset;
          text-orientation: unset;
          padding: 10px 15px;

          p {
            display: -webkit-box;

          }
        }

        &.right-left {
          width: var(--sliderSize);
          transition: width 0.5s ease-out;
          writing-mode: unset;
          text-orientation: unset;
          padding: 10px 15px;

          p {
            display: -webkit-box;

          }
        }
      }
    }

    .is-circle {
      .sw-cms-el-custom-image-overlay {
        height: 100% !important;
        width: 100%;
        border-radius: 50%;

        .editor-content {
          text-align: center !important;
        }
      }
    }

    .is--overlay-slider-button {
      opacity: 100;
      transition: opacity 0.5s ease-in;
      border: none;
      background: transparent;
      padding: 0;
    }
  }

}

@media (max-width: 900px) and (min-width: 576px) {
  .cms-block-four-grid-block-3-3-3-3 {
    .grid-block {
      &:nth-of-type(1) {
        margin-bottom: 20px !important;
      }

      &:nth-of-type(2) {
        margin-bottom: 20px !important;
      }
    }
  }

  .cms-block-three-grid-block-3-3-6,
  .cms-block-three-grid-block-3-4-5,
  .cms-block-three-grid-block-3-6-3,
  .cms-block-three-grid-block-6-3-3,
  .cms-block-three-grid-block-4-4-4,
  .cms-block-three-grid-block-3-5-4 {
    .grid-block {
      &:not(:nth-of-type(1)) {
        &.custom-figure {
          padding-top: 0 !important;
        }
      }

      &:nth-of-type(1) {
        &:not(.custom-figure) {
          padding-left: 0 !important;
        }
        &.custom-figure {
          margin-bottom: 40px !important;
        }
      }

      &:nth-of-type(2) {
        &.custom-figure {
          margin-bottom: 20px !important;
        }
      }

      &:not(:nth-of-type(1)) {
        &:not(.custom-figure) {
          padding-top: 0 !important;
        }
      }
      &:nth-of-type(3) {
        &:not(.custom-figure) {
          padding-right: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .grid-block {
    padding: 20px 0;

    &.no-gap {
      &.pe-0 {
        padding-right: unset !important;
      }

      &.ps-0 {
        padding-left: unset !important;
      }

      &.px-0 {
        padding-right: unset !important;
        padding-left: unset !important;
      }
    }

    &.no-custom-figure {
      max-height: unset !important;
    }
  }
  .cms-block-three-grid-block-3-3-6,
  .cms-block-three-grid-block-3-4-5,
  .cms-block-three-grid-block-3-6-3,
  .cms-block-three-grid-block-6-3-3,
  .cms-block-three-grid-block-4-4-4,
  .cms-block-three-grid-block-3-5-4 {
    .grid-block {
      &:not(:nth-of-type(1)) {
        &.custom-figure {
          padding-top: 0 !important;
        }
      }

      &:nth-of-type(1) {
        &.custom-figure {
          margin-bottom: 40px !important;
        }
      }

      &:nth-of-type(2) {
        &.custom-figure {
          margin-bottom: 20px !important;
        }
      }

      &:not(:nth-of-type(1)) {
        &:not(.custom-figure) {
          padding-top: 0 !important;
        }
      }
    }
  }

  .cms-block-two-grid-block-9-3,
  .cms-block-two-grid-block-8-4,
  .cms-block-two-grid-block-3-9,
  .cms-block-two-grid-block-4-8,
  .cms-block-two-grid-block-6-6 {
    .grid-block {
      &:nth-of-type(2) {
        &.custom-figure {
          padding-top: 0 !important;
        }
      }

      &:nth-of-type(1) {
        &.custom-figure {
          margin-bottom: 40px !important;
        }
      }

      &:nth-of-type(2) {
        &:not(.custom-figure) {
          padding-top: 0 !important;
        }
      }
    }
  }

  .cms-block-four-grid-block-3-3-3-3 {
    .grid-block {
      &:not(:nth-of-type(1)) {
        &.custom-figure {
          padding-top: 0 !important;
        }
      }

      &:nth-of-type(1) {
        &.custom-figure {
          margin-bottom: 40px !important;
        }
      }

      &:nth-of-type(2) {
        &.custom-figure {
          margin-bottom: 20px !important;
        }
      }

      &:nth-of-type(3) {
        &.custom-figure {
          margin-bottom: 20px !important;
        }
      }

      &:not(:nth-of-type(1)) {
        &:not(.custom-figure) {
          padding-top: 0 !important;
        }
      }
    }
  }
}


.custom-text-wrapper {
  display: flex;
  padding-left: 25px;
  padding-right: 25px;
  a {
    color: inherit;
    text-decoration: none !important;
  }

  button {
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.is--center {
      margin-left: auto;
      margin-right: auto;
    }

    &.is--left {
      margin-left: 0;
      margin-right: auto;
    }

    &.is--right {
      margin-left: auto;
      margin-right: 0;
    }
  }

  span {
    &.text-link {
      margin-top: 25px;

      &.is--center {
        margin-left: auto;
        margin-right: auto;
      }

      &.is--left {
        margin-left: 0;
        margin-right: auto;
      }

      &.is--right {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}

.accordion-item {
  border: 0;
  button {
    &.accordion-button {
      &:not(.collapsed) {
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        &:after {
          content: '-' !important;
        }
      }
      &:focus {
        box-shadow: none;
      }
      &:hover {
          -webkit-filter: brightness(70%);
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          transition: all 1s ease;
        }
      }
    &:after {
      color: var(--color);
      width: unset !important;
      height: unset !important;
      transform: unset !important;
      content: '+';
      background-image: unset !important;
      transition: unset !important;
    }
  }
  .accordion-body {
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-right-radius: var(--radius) !important;
    border-bottom-left-radius: var(--radius) !important;
  }
}