.sw-cms-el-preview-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
        margin: 0;
        display: block;
        width: 110%;
    }
    span {
        position: absolute;
        bottom:0;
        padding-bottom: 30px;
        left:30px;
        color: #062535;
        z-index: 9999;
        font-size: 15px;
    }
}
