<div style="font-family:arial; font-size:12px;">
    <p>
        The following Message was sent to you via the appointment form.<br/>
        <br/>
        Contact name: {{ appointmentFormData.firstName }} {{ appointmentFormData.lastName }}
        <br/>
        Contact email address: {{ appointmentFormData.email }}
        <br/>
        Phone: {{ appointmentFormData.phone }}<br/>
    </p>
</div>