The following Message was sent to you via the appointment form.

Contact name: {{ appointmentFormData.firstName }} {{ appointmentFormData.lastName }}
Contact email address: {{ appointmentFormData.email }}
Phone: {{ appointmentFormData.phone }}