<div style="font-family:arial; font-size:12px;">
    <p>
        De volgende boodschap is verzonden vanuit het afsprakenformulier.<br/>
        <br/>
        Naam: {{ appointmentFormData.firstName }} {{ appointmentFormData.lastName }}
        <br/>
        contact E-Mail: {{ appointmentFormData.email }}<br/>
        <br>
        telefoonnummer: {{ appointmentFormData.phone }}<br/>
    </p>
</div>