De volgende boodschap is verzonden vanuit het afsprakenformulier.

Naam: {{ appointmentFormData.firstName }} {{ appointmentFormData.lastName }}
contact E-Mail: {{ appointmentFormData.email }}

telefoonnummer: {{ appointmentFormData.phone }}