{% block sw_cms_block_image_text_image_preview %}
    <div class="sw-cms-preview-image-image-sibling">
            <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
                 alt=""
            >
            <img
                    :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset"
                    alt=""
            >
    </div>
{% endblock %}