.rc-cms-block-preview-three-grid-block-6-3-3 {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    height: 150px;
    div {
        box-sizing: border-box;
        background-color: grey;
        &:nth-of-type(1) {
            border-right: 1px solid black;
        }
        &:nth-of-type(2) {
            border-right: 1px solid black;
        }
    }
}
