<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_custom_image_config %}
    {% block sw_cms_element_image_config %}
        <div class="sw-cms-el-config-image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_media_upload %}
                <sw-cms-mapping-field
                        v-model="element.config.media"
                        :label="$tc('rc-cms.elements.config.custom-image.image')"
                        value-types="entity"
                        entity="media"
                >
                    <sw-media-upload-v2
                            variant="regular"
                            :upload-tag="uploadTag"
                            :source="previewSource"
                            :allow-multi-select="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove"
                    />

                    <template #preview="{ demoValue }">
                        <div class="sw-cms-el-config-image__mapping-preview">
                            <img
                                    v-if="demoValue.url"
                                    :src="demoValue.url"
                                    alt=""
                            >
                            <sw-alert
                                    v-else
                                    class="sw-cms-el-config-image__preview-info"
                                    variant="info"
                            >
                                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                            </sw-alert>
                        </div>
                    </template>
                </sw-cms-mapping-field>
                <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="onImageUpload"
                />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_media_modal %}
                <sw-media-modal-v2
                        v-if="mediaModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onImageRemove"
                        @media-modal-selection-change="onSelectionChanges"
                        @modal-close="onCloseModal"
                />
            {% endblock %}
            {% block sw_cms_element_image_config_image_display_as_type %}
                <sw-switch-field
                        v-model="displayImageAsFigure"
                        class="sw-cms-el-config-image__link-tab"
                        :label="$tc('rc-cms.elements.config.custom-image.displayImageAsFigure')"
                        @change="onChangeDisplayImageAsFigure"
                />

                <sw-select-field
                        v-if="element.config.displayImageAsFigure.value"
                        v-model="element.config.imageDisplayFigure.value"
                        class="sw-cms-el-config-image__display-type"
                        :label="$tc('rc-cms.elements.config.custom-image.imageDisplayType')"
                        @change="onChangeImageDisplayFigure"
                >
                    <option value="normal">
                        {{ $tc('rc-cms.elements.config.custom-image.imageDisplayFigureOptions.normal') }}
                    </option>
                    <option value="square">
                        {{ $tc('rc-cms.elements.config.custom-image.imageDisplayFigureOptions.square') }}
                    </option>
                    <option value="circle">
                        {{ $tc('rc-cms.elements.config.custom-image.imageDisplayFigureOptions.circle') }}
                    </option>
                </sw-select-field>
            {% endblock %}

            {% block sw_cms_element_image_config_image_max_width %}
                <sw-text-field
                        v-if="element.config.imageDisplayFigure.value !== 'normal'"
                        v-model="element.config.maxWidth.value"
                        :label="$tc('rc-cms.elements.config.custom-image.imageMaxWidth')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imageMaxWidthPlaceHolder')"
                        @change="onChangeMaxWidth"
                        @input="onChangeMaxWidth"
                        :help-text="$tc('rc-cms.helpText.maxWidth')"
                />
            {% endblock %}
            {% block sw_cms_element_image_config_image_display_type %}
                <sw-select-field
                        v-model="element.config.imageDisplayType.value"
                        class="sw-cms-el-config-image__display-type"
                        :label="$tc('rc-cms.elements.config.custom-image.imageDisplayType')"
                        @change="onChangeImageDisplayType"
                >
                    <option v-if="element.config.imageDisplayFigure.value === 'normal'" value="standard">
                        {{ $tc('rc-cms.elements.config.custom-image.imageDisplayTypeOptions.standard') }}
                    </option>
                    <option value="cover">
                        {{ $tc('rc-cms.elements.config.custom-image.imageDisplayTypeOptions.cover') }}
                    </option>
                    <option value="stretch">
                        {{ $tc('rc-cms.elements.config.custom-image.imageDisplayTypeOptions.stretch') }}
                    </option>
                </sw-select-field>
            {% endblock %}
            {% block sw_cms_element_custom_image_image_height %}
                <sw-text-field
                        v-model="element.config.minHeight.value"
                        :label="$tc('rc-cms.elements.config.custom-image.imageHeight')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imageHeightPlaceHolder')"
                        @change="onChangeMinHeight"
                        @input="onChangeMinHeight"
                />

                <sw-text-field
                        v-if="element.config.imageDisplayType.value === 'standard'"
                        v-model="element.config.imagePadding.value"
                        value="element.config.imagePadding.value"
                        :label="$tc('rc-cms.elements.config.custom-image.imagePadding')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imagePaddingPlaceHolder')"
                        @change="onChangeImagePadding"
                        :help-text="$tc('rc-cms.helpText.imagePadding')"

                />
            {% endblock %}
            {% block sw_cms_element_custom_image_image_position %}
                <div style="display:flex;">
                <sw-select-field
                        style="width: 50%; padding: 0 15px"
                        v-model="element.config.imageCoverKeyOne.value"
                        class="sw-cms-el-config-image__display-type"
                        :label="$tc('rc-cms.elements.config.custom-image.imageCoverKeyOne.label')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imageCoverKeyOne.placeHolder')"
                        @change="onChangeImageCoverKeyOne"
                >
                    <option value="left">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.center') }}
                    </option>
                    <option value="right">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.right') }}
                    </option>
                    <option value="top">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.top') }}
                    </option>
                    <option value="bottom">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.bottom') }}
                    </option>
                </sw-select-field>
                <sw-text-field
                        style="width: 50%;"
                        v-if="element.config.imageCoverKeyOne.value  && element.config.imageCoverKeyOne.value !== 'center'"
                        v-model="element.config.imageCoverValueOne.value"
                        value="element.config.imageCoverValueOne.value"
                        :label="$tc('rc-cms.elements.config.custom-image.imageCoverValueOne')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imageCoverValueOnePlaceHolder')"
                        @blur="onChangeImageCoverValueOneCheck"
                        @input="onChangeImageCoverValueOne"
                        :help-text="$tc('rc-cms.helpText.imageCoverValue')"

                />
                </div>
                <div style="display:flex;">
                <sw-select-field
                        style="width: 50%; padding: 0 15px"
                        v-if="element.config.imageCoverKeyOne.value"
                        v-model="element.config.imageCoverKeyTwo.value"
                        class="sw-cms-el-config-image__display-type"
                        :label="$tc('rc-cms.elements.config.custom-image.imageCoverKeyTwo.label')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imageCoverKeyTwo.placeHolder')"
                        @change="onChangeImageCoverKeyTwo"
                >
                    <option v-if="element.config.imageCoverKeyOne.value != 'right' && element.config.imageCoverKeyOne.value != 'left'" value="left">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.center') }}
                    </option>
                    <option v-if="element.config.imageCoverKeyOne.value != 'right' && element.config.imageCoverKeyOne.value != 'left'" value="right">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.right') }}
                    </option>
                    <option v-if="element.config.imageCoverKeyOne.value != 'top' && element.config.imageCoverKeyOne.value != 'bottom'" value="top">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.top') }}
                    </option>
                    <option v-if="element.config.imageCoverKeyOne.value != 'bottom' && element.config.imageCoverKeyOne.value != 'top'" value="bottom">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.bottom') }}
                    </option>
                </sw-select-field>
                <sw-text-field
                        style="width: 50%;"
                        v-if="(element.config.imageCoverKeyTwo.value && element.config.imageCoverKeyTwo.value !== 'center') || (element.config.imageCoverKeyOne.value && !element.config.imageCoverKeyTwo.value)"
                        v-model="element.config.imageCoverValueTwo.value"
                        value="element.config.imageCoverValueTwo.value"
                        :label="$tc('rc-cms.elements.config.custom-image.imageCoverValueTwo')"
                        :placeholder="$tc('rc-cms.elements.config.custom-image.imageCoverValueTwoPlaceHolder')"
                        @blur="onChangeImageCoverValueTwoCheck"
                        @input="onChangeImageCoverValueTwo"
                        :help-text="$tc('rc-cms.helpText.imageCoverValue')"

                />
                </div>
            {% endblock %}

            {% block sw_cms_element_custom_image_horizontal_positioning %}
                <sw-select-field
                        v-if="element.config.imageDisplayFigure.value !== 'normal' || element.config.imageDisplayType.value === 'standard'"
                        v-model="element.config.imageHorizontalPosition.value"
                        class="sw-cms-el-config-image__display-type"
                        :label="$tc('rc-cms.elements.config.custom-image.imageHorizontalPosition')"
                        @change="onChangeImageHorizontalPosition"
                >
                    <option value="left">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.left') }}
                    </option>
                    <option value="center">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.center') }}
                    </option>
                    <option value="right">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.right') }}
                    </option>
                </sw-select-field>
            {% endblock %}

            {% block sw_cms_element_custom_image_vertical_positioning %}
                <sw-select-field
                        v-if="element.config.imageDisplayFigure.value !== 'normal' || element.config.imageDisplayType.value === 'standard'"
                        v-model="element.config.imageVerticalPosition.value"
                        class="sw-cms-el-config-image__display-type"
                        :label="$tc('rc-cms.elements.config.custom-image.imageVerticalPosition')"
                        @change="onChangeImageVerticalPosition"
                >
                    <option value="top">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.top') }}
                    </option>
                    <option value="center">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.center') }}
                    </option>
                    <option value="bottom">
                        {{ $tc('rc-cms.elements.config.custom-image.imagePositionOptions.bottom') }}
                    </option>
                </sw-select-field>
            {% endblock %}
            {% block sw_cms_element_custom_image_background_color %}
                <sw-colorpicker
                        style="z-index:1001;"
                        :label="$tc('rc-cms.elements.config.custom-image.imageBackgroundColor')"
                        v-model="element.config.imageBackgroundColor.value"
                        value="#fffff00"
                        colorOutput="auto"
                        :alpha="true"
                        :disabled="false"
                        :colorLabels="true">

                </sw-colorpicker>
            {% endblock %}

            {% block sw_cms_element_custom_image_show_overlay %}
                <sw-switch-field
                        v-model="useTextOverlay"
                        class="sw-cms-el-config-image__link-tab"
                        :label="$tc('rc-cms.elements.config.custom-image.useTextOverlay')"
                        @change="onChangeUseTextOverlay"
                />
                <sw-switch-field
                        v-model="useTextLink"
                        class="sw-cms-el-config-image__link-tab"
                        :label="$tc('rc-cms.elements.config.custom-image.useTextLink')"
                        @change="onChangeUseTextLink"
                />
            {% endblock %}
            {% block sw_cms_element_custom_image_with_overlay_settings %}
                <sw-tabs
                    v-if="element.config.useTextOverlay.value"
                    position-identifier="sw-cms-element-config-text"
                    class="sw-cms-el-config-text__tabs"
                    default-item="content"
            >
                <template #default="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_config_text_tab_content %}
                        <sw-tabs-item
                                :title="$tc('rc-cms.elements.config.custom-image.tabs.textContent')"
                                name="content"
                                :active-tab="active"
                        >
                            {{ $tc('rc-cms.elements.config.custom-image.tabs.textContent') }}
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_tab_options %}
                        <sw-tabs-item
                                :title="$tc('rc-cms.elements.config.custom-image.tabs.overlaySettings')"
                                name="text-settings"
                                :active-tab="active"
                        >
                            {{ $tc('rc-cms.elements.config.custom-image.tabs.overlaySettings') }}
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_url_config_tab_options %}
                        <sw-tabs-item
                                :title="$tc('rc-cms.elements.config.custom-image.tabs.overlayUrlSettings')"
                                name="overlay-url-settings"
                                :active-tab="active"
                        >
                            {{ $tc('rc-cms.elements.config.custom-image.tabs.overlayUrlSettings') }}
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_content %}
                        <sw-container
                                v-if="active === 'content'"
                                class="sw-cms-el-config-text__tab-content"
                        >
                            <sw-cms-mapping-field
                                    v-model="element.config.text"
                                    :label="$tc('sw-cms.elements.text.config.label.content')"
                                    value-types="string"
                            >
                                <sw-text-editor
                                        v-model="element.config.text.value"
                                        :allow-inline-data-mapping="true"
                                        sanitize-input
                                        enable-transparent-background
                                        @input="onInput"
                                        @blur="onBlur"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-text__mapping-preview">
                                        <div v-html="$sanitize(demoValue)"></div>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>
                        </sw-container>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_settings %}
                        <sw-container
                                v-if="active === 'text-settings'"
                                class="sw-cms-el-config-text__tab-settings"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_el_text_config_settings_vertical_align %}
                                {#                                <sw-select-field #}
                                {#                                        v-model="element.config.textVerticalAlign.value" #}
                                {#                                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')" #}
                                {#                                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')" #}
                                {#                                        @change="onChangeTextVerticalAlign" #}
                                {#                                > #}
                                {#                                    <option value="flex-start"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }} #}
                                {#                                    </option> #}
                                {#                                    <option value="center"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }} #}
                                {#                                    </option> #}
                                {#                                    <option value="flex-end"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }} #}
                                {#                                    </option> #}
                                {#                                </sw-select-field> #}
                            {% endblock %}
                            {% block sw_cms_el_text_config_background_color %}
                                <sw-colorpicker
                                        style="z-index:1001;"
                                        label="Choose the background color"
                                        v-model="element.config.textBackgroundColor.value"
                                        value="#fffacc95"
                                        colorOutput="auto"
                                        :alpha="true"
                                        :disabled="false"
                                        :colorLabels="true">

                                </sw-colorpicker>
                            {% endblock %}
                            <sw-field
                                    v-model="element.config.enableSlider.value"
                                    class="sw-cms-el-config-image__link-tab"
                                    type="switch"
                                    label="Show text as slider"
                            />
                            <sw-select-field
                                    v-model="element.config.slideDirection.value"
                                    label="Choose how the textarea is displayed"
                                    @change="onChangeSlideDirection"
                            >
                                <option value="bottom-up">
                                    Bottom -> Up
                                </option>
                                <option value="top-down">
                                    Top -> Down
                                </option>
                                <option value="left-right">
                                    Left -> Right
                                </option>
                                <option value="right-left">
                                    Right -> Left
                                </option>
                            </sw-select-field>

                            <sw-text-field
                                    v-if="element.config.slideDirection.value == 'bottom-up' || element.config.slideDirection.value == 'top-down'"
                                    v-model="element.config.sliderHeight.value"
                                    value="element.config.sliderHeight.value"
                                    label="Choose the height of the text-element"
                                    placeholder="Enter Height"
                                    @input="onChangeSliderHeightText"
                                    @change="onChangeSliderHeightText"
                            />
                            <sw-text-field
                                    v-else
                                    v-model="element.config.sliderHeight.value"
                                    value="element.config.sliderHeight.value"
                                    label="Choose the width of the text-element"
                                    placeholder="Enter width"
                                    @input="onChangeSliderHeightText"
                                    @change="onChangeSliderHeightText"
                            />
                            <sw-text-field
                                    v-model="element.config.amountOfLinesVisible.value"
                                    value="element.config.amountOfLinesVisible.value"
                                    label="How many lines should you see"
                                    placeholder="Amount of lines"
                                    @input="onChangeVisibleLines"
                                    @change="onChangeVisibleLines"
                            />
                        </sw-container>
                    {% endblock %}
                    {% block sw_cms_el_url_config_settings %}
                    <sw-container
                            v-if="active === 'overlay-url-settings'"
                            class="sw-cms-el-config-text__tab-settings"
                    >
                        <div class="sw-cms-el-config-image__link">
                            <sw-text-field
                                    v-model="element.config.buttonText.value"
                                    value="element.config.buttonText.value"
                                    label="Enter text value for button"
                                    placeholder="button text"
                                    @input="onChangeButtonText"
                                    @change="onChangeButtonText"
                            />
                            <sw-dynamic-url-field
                                    v-if="element.config.buttonText.value"
                                    v-model="element.config.url.value"
                            />
                            <sw-field
                                    v-if="element.config.buttonText.value"
                                    v-model="element.config.newTab.value"
                                    class="sw-cms-el-config-image__link-tab"
                                    type="switch"
                                    :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                            />
                            <sw-colorpicker
                                    style="z-index:1001;"
                                    label="Choose text color for the link"
                                    v-model="element.config.linkColor.value"
                                    value="element.config.linkColor.value"
                                    colorOutput="auto"
                                    :alpha="true"
                                    :disabled="false"
                                    :colorLabels="true">
                            </sw-colorpicker>
                        </div>

                    </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
            {% endblock %}

            {% block sw_cms_element_custom_image_with_text_link %}
                <sw-tabs
                        v-if="element.config.useTextLink.value"
                        position-identifier="sw-cms-element-config-text"
                        class="sw-cms-el-config-text__tabs"
                        default-item="text-content"
                >
                    <template #default="{ active }">
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_config_text_tab_content %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-image.tabs.textSettings')"
                                    name="text-content"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-image.tabs.textSettings') }}
                            </sw-tabs-item>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_text_config_tab_options %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-image.tabs.textPosition')"
                                    name="text-position"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-image.tabs.textPosition') }}
                            </sw-tabs-item>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_url_config_tab_options %}
                            <sw-tabs-item
                                    :title="$tc('rc-cms.elements.config.custom-image.tabs.urlSettings')"
                                    name="url-settings"
                                    :active-tab="active"
                            >
                                {{ $tc('rc-cms.elements.config.custom-image.tabs.urlSettings') }}
                            </sw-tabs-item>
                        {% endblock %}
                    </template>

                    <template #content="{ active }"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_text_config_content %}
                            <sw-container
                                    v-if="active === 'text-content'"
                                    class="sw-cms-el-config-text__tab-content"
                            >
                                <div class="sw-cms-el-config-image__text">
                                    <sw-colorpicker
                                            style="z-index: 1001"
                                            :label="$tc('rc-cms.elements.config.custom-image.textColor')"
                                            v-model="element.config.textLinkColor.value"
                                            value="element.config.textLinkColor.value"
                                            colorOutput="auto"
                                            :alpha="true"
                                            :disabled="false"
                                            :colorLabels="true">
                                    </sw-colorpicker>
                                    <sw-text-field
                                            v-model="element.config.textLink.value"
                                            :label="$tc('rc-cms.elements.config.custom-image.textLink')"
                                            :placeholder="$tc('rc-cms.elements.config.custom-image.textLinkPlaceHolder')"
                                            @input="onChangeTextLink"
                                            @change="onChangeTextLink"
                                    />
                                </div>

                                {% block sw_cms_element_image_config_text_size %}
                                    <sw-text-field
                                            v-model="element.config.fontSize.value"
                                            :label="$tc('rc-cms.elements.config.custom-image.fontSize')"
                                            :placeholder="$tc('rc-cms.elements.config.custom-image.fontSizePlaceHolder')"
                                            @input="onChangeFontSize"
                                            @change="onChangeFontSize"
                                    />
                                {% endblock %}
                                {% block sw_cms_element_image_config_text_weight %}
                                    <sw-select-field
                                            v-model="element.config.fontWeight.value"
                                            class="sw-cms-el-config-image__font-weight"
                                            :label="$tc('rc-cms.elements.config.custom-image.fontWeight')"
                                            @change="onChangeFontWeight"
                                    >
                                        <option value="100">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.thin') }}
                                        </option>
                                        <option value="200">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.extraLight') }}
                                        </option>
                                        <option value="300">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.light') }}
                                        </option>
                                        <option value="400">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.normal') }}
                                        </option>
                                        <option value="500">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.medium') }}
                                        </option>
                                        <option value="600">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.semiBold') }}
                                        </option>
                                        <option value="700">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.bold') }}
                                        </option>
                                        <option value="800">
                                            {{ $tc('rc-cms.elements.config.custom-image.fontWeightOptions.extraBold') }}
                                        </option>
                                    </sw-select-field>
                                {% endblock %}
                            </sw-container>
                        {% endblock %}
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_el_text_config_settings %}
                            <sw-container
                                    v-if="active === 'text-position'"
                                    class="sw-cms-el-config-text__tab-settings"
                            >
                                {% block sw_cms_element_image_config_text_align %}
                                    <sw-select-field
                                            v-model="element.config.linkTextAlign.value"
                                            class="sw-cms-el-config-image__text-align"
                                            :label="$tc('rc-cms.elements.config.custom-image.linkTextAlign')"
                                            @change="onChangeLinkTextAlign"
                                    >
                                        <option value="text-bottom left">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.bottomLeft') }}
                                        </option>
                                        <option value="text-bottom center">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.bottomCenter') }}
                                        </option>
                                        <option value="text-bottom right">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.bottomRight') }}
                                        </option>
                                        <option value="text-center left">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.centerLeft') }}
                                        </option>
                                        <option value="text-center center">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.centerCenter') }}
                                        </option>
                                        <option value="text-center right">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.centerRight') }}
                                        </option>
                                        <option value="text-top left">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.topLeft') }}
                                        </option>
                                        <option value="text-top center">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.topCenter') }}
                                        </option>
                                        <option value="text-top right">
                                            {{ $tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.topRight') }}
                                        </option>
                                    </sw-select-field>
                                {% endblock %}
                                {% block sw_cms_element_image_config_text_margin %}
                                    <label>{{ $tc('rc-cms.elements.config.custom-image.textMargins') }}</label>
                                    <div class="text-margin flex-column" style="height: 250px; width: 100%;">
                                        <div style="display: flex; flex-direction: row; justify-content: center;">
                                            <sw-text-field
                                                    id="textMarginTop"
                                                    v-model="element.config.textMarginTop.value"
                                                    :label="$tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.top')"
                                                    disabled
                                                    :placeholder="$tc('rc-cms.elements.config.custom-image.textMarginsPlaceHolder')"
                                                    @input="onChangeTextMarginTop"
                                                    @change="onChangeTextMarginTop"
                                            />
                                        </div>
                                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                            <sw-text-field
                                                    id="textMarginLeft"
                                                    v-model="element.config.textMarginLeft.value"
                                                    :label="$tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.left')"
                                                    :placeholder="$tc('rc-cms.elements.config.custom-image.textMarginsPlaceHolder')"
                                                    @input="onChangeTextMarginLeft"
                                                    @change="onChangeTextMarginLeft"
                                            />
                                            <sw-text-field
                                                    id="textMarginRight"
                                                    v-model="element.config.textMarginRight.value"
                                                    :label="$tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.right')"
                                                    disabled
                                                    :placeholder="$tc('rc-cms.elements.config.custom-image.textMarginsPlaceHolder')"
                                                    @input="onChangeTextMarginRight"
                                                    @change="onChangeTextMarginRight"
                                            />
                                        </div>
                                        <div style="display: flex; flex-direction: row; justify-content: center;">
                                            <sw-text-field
                                                    id="textMarginBottom"
                                                    v-model="element.config.textMarginBottom.value"
                                                    :label="$tc('rc-cms.elements.config.custom-image.linkTextAlignOptions.bottom')"
                                                    :placeholder="$tc('rc-cms.elements.config.custom-image.textMarginsPlaceHolder')"
                                                    @input="onChangeTextMarginBottom"
                                                    @change="onChangeTextMarginBottom"
                                            />
                                        </div>

                                    </div>
                                {% endblock %}

                            </sw-container>
                        {% endblock %}
                        {% block sw_cms_el_url_config_settings %}
                            <sw-container
                                    v-if="active === 'url-settings'"
                                    class="sw-cms-el-config-text__tab-settings"
                            >
                                {% block sw_cms_element_image_config_link %}
                                    <div class="sw-cms-el-config-image__link">
                                        <sw-dynamic-url-field
                                                v-model="element.config.textLinkUrl.value"
                                        />
                                        <sw-field
                                                v-model="element.config.textLinkNewTab.value"
                                                class="sw-cms-el-config-image__link-tab"
                                                type="switch"
                                                :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                        />
                                    </div>
                                {% endblock %}
                            </sw-container>
                        {% endblock %}
                    </template>
                </sw-tabs>
            {% endblock %}

        </div>
    {% endblock %}
    {% block sw_cms_el_config_text %}

    {% endblock %}
{% endblock %}