.sw-cms-block-layout-config {
    padding: 25px;
    .sw-label {
        height:inherit;
        .sw-label__caption {
            white-space: unset;
            padding: 5px 25px;
            ol {
                margin: 5px 25px
            }
        }
    }
}
