<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_layout_config %}

<div class="sw-cms-block-layout-config">
    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    <sw-label
            v-if="block.type.includes('grid')"
            variant="info"
            appearance="pill"
    >
        <span>{{ $tc('rc-cms.layout.helpText.label')}}</span>
        <ol>
            <li class="help-layout-item">{{ $tc('rc-cms.layout.helpText.no-gap')}}</li>
            <li class="help-layout-item">{{ $tc('rc-cms.layout.helpText.rounded')}}</li>
        </ol>
    </sw-label>
    {% block sw_cms_block_layout_config_css_class %}
    <sw-text-field
        {% if VUE3 %}
        v-model:value="block.cssClass"
        {% else %}
        v-model="block.cssClass"
        {% endif %}
        :label="$tc('sw-cms.detail.label.cssClassField')"
        :help-text="$tc('sw-cms.detail.helpText.cssClassField')"
    />

    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_layout_config_top_margin_field %}
    <sw-text-field
        {% if VUE3 %}
        v-model:value="block.marginTop"
        {% else %}
        v-model="block.marginTop"
        {% endif %}
        :label="$tc('sw-cms.detail.label.blockTopMarginField')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_layout_config_bottom_margin_field %}
    <sw-text-field
        {% if VUE3 %}
        v-model:value="block.marginBottom"
        {% else %}
        v-model="block.marginBottom"
        {% endif %}
        :label="$tc('sw-cms.detail.label.blockBottomMarginField')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_layout_config_left_margin_field %}
    <sw-text-field
        {% if VUE3 %}
        v-model:value="block.marginLeft"
        {% else %}
        v-model="block.marginLeft"
        {% endif %}
        :label="$tc('sw-cms.detail.label.blockLeftMarginField')"
    />
    {% endblock %}

    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
    {% block sw_cms_block_layout_config_right_margin_field %}
    <sw-text-field
        {% if VUE3 %}
        v-model:value="block.marginRight"
        {% else %}
        v-model="block.marginRight"
        {% endif %}
        :label="$tc('sw-cms.detail.label.blockRightMarginField')"
    />
    {% endblock %}
</div>
{% endblock %}
