{% block element_text_with_link %}
    {% set config = element.fieldConfig.elements %}
    <div class="el-text-with-link">
        <div class="text-with-link-wrapper" style="min-height: {{ config.minHeight.value }}">
            <div class="text-with-link"
                 style="
                         background-color: {{ config.textBackgroundColor.value }};
                         align-content: {{ config.verticalAlign.value }};
                         --visibleLineAmount: {{ config.amountOfLinesVisible.value }};">
                <div class="editor-content"
                     style="color: {{ config.ellipsisColor.value }}">
                    {{ config.content.value | raw }}
                </div>
                {% if config.buttonText.value %}
                    <span class="is--link-button">
                <a href="{{ element.translated.config.url.value }} "
                   style="color: {{ config.linkColor.value }}"
                   {% if element.translated.config.newTab.value %}target="_blank"
                   rel="noopener"{% endif %}>
                    {{ config.buttonText.value }}
                </a>
            </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}