{% block element_form %}
    {% set config = element.fieldConfig.elements %}
    <div class="cms-element-{{ element.type }} form" {% if element.config.backgroundColor.value %} style="background-color: {{ element.config.backgroundColor.value}}" {% endif %} >
        <div class="row justify-content-center">
            <div class="col-lg-12">

                {% set formViolations = app.request.get('errors') %}

                <div class="card">
                    <div class="card-body">
                        {% block element_form_wrapper %}
                            {% if element.config.type.value is same as('contact') %}
                                {% block element_form_contact_form_title %}
                                    <div class="card-title mb-4">
                                        {% if element.config.title.value %}
                                            {{ element.config.title.value }}
                                        {% else %}
                                            {{ "contact.headline"|trans }}
                                        {% endif %}
                                    </div>
                                {% endblock %}

                                {% block element_form_contact_form_form %}
                                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-types/contact-form.html.twig'
                                        with {
                                        action: 'frontend.form.contact.send',
                                        submitText: 'contact.formSubmit'
                                    }
                                    %}
                                {% endblock %}
                            {% elseif element.config.type.value is same as('newsletter') %}
                                {% block element_form_newsletter_form_title %}
                                    <div class="card-title mb-4">
                                        {% if element.config.title.value %}
                                            {{ element.config.title.value }}
                                        {% else %}
                                            {{ "newsletter.headline"|trans }}
                                        {% endif %}
                                    </div>
                                {% endblock %}

                                {% block element_form_newsletter_form_form %}
                                    {% sw_include '@Storefront/storefront/element/cms-element-form/form-types/newsletter-form.html.twig'
                                        with {
                                        action: 'frontend.form.newsletter.register.handle',
                                        submitText: 'newsletter.formSubmit'
                                    }
                                    %}
                                {% endblock %}

                            {% elseif element.config.type.value is same as('appointment') %}
                                {% block element_form_appointment_form_title %}
                                    <div class="card-title mb-4">
                                        {% if element.config.title.value %}
                                            {{ element.config.title.value }}
                                        {% endif %}
                                    </div>
                                {% endblock %}
                                {% block element_form_appointment_form_form %}
                                {% sw_include '@CmsRoyalCrownShopware/storefront/element/cms-element-form/form-types/appointment-form.html.twig'
                                    with {
                                    action: 'frontend.form.appointment.send',
                                    submitText: 'Afspraak maken'
                                }
                                %}
                                {% endblock %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
