{% block element_image %}
    {% set config = element.fieldConfig.elements %}
    <div class="cms-element-image image-link{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}"
         data-imagelink-plugin>
        {% block element_product_slider_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
            {% block element_image_inner %}
                {% set textValue = element.translated.config.text.value %}
                {% set imageElement %}
                    {% block element_image_container %}
                        {% if element.data.media.url %}
                            <div class="cms-image-container is-{{ element.translated.config.displayMode.value }} is-{{ element.translated.config.imageDisplayType.value }}"
                                 style="min-height: {% if element.translated.config.imageDisplayType.value != 'standard' %}
                                         120px;
                                     {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == "cover" %}
                                             max-height: {{ element.translated.config.minHeight.value }};
                                     {% endif %}
                                 {% else %}  {{ element.translated.config.minHeight.value }} {% endif %}">
                                {% block element_image_media %}
                                    {% set imageClasses = element.translated.config.imageDisplayType.value == 'circle' ? 'cms-image is-circle' : 'cms-image' %}
                                    {% set attributes = {
                                        'class': imageClasses,
                                        'alt': (element.data.media.translated.alt ?: ''),
                                        'title': (element.data.media.translated.title ?: ''),
                                        'loading': 'lazy'
                                    } %}

                                    {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                    {% endif %}

                                    {% sw_thumbnails 'cms-image-thumbnails' with {
                                        media: element.data.media
                                    } %}
                                {% endblock %}
                                {% if textValue is defined and textValue !=null %}
{#                                    {{ dump(element.translated.config) }}#}
{#                                    {{ dump(element.translated.config.textMarginBottom.value) }}#}
{#                                    {{ dump(element.translated.config.textMarginTop.value) }}#}
{#                                    {{ dump(element.translated.config.textMarginLeft.value) }}#}
{#                                    {{ dump(element.translated.config.textMarginRight.value) }}#}
                                    <span class="position-absolute {{ element.translated.config.textAlign.value }} image-link-span"
                                            {% set marginBottom =  element.translated.config.textMarginBottom.value | length ? element.translated.config.textMarginBottom.value : '' %}
                                            {% set marginTop =  element.translated.config.textMarginTop.value | length ? element.translated.config.textMarginTop.value : '' %}
                                            {% set marginLeft=  element.translated.config.textMarginLeft.value | length ? element.translated.config.textMarginLeft.value : '' %}
                                            {% set marginRight =  element.translated.config.textMarginRight.value | length ? element.translated.config.textMarginRight.value : '' %}

                                      style="
                                              color:{{ element.translated.config.linkColor.value }};
                                              font-weight: {{ element.translated.config.fontWeight.value }};
                                              font-size: {{ element.translated.config.fontSize.value }};
                                              {% if marginBottom !== '' %}
                                                      margin-bottom:{{ marginBottom }};
                                              {% endif %}
                                              {% if marginTop !== '' %}
                                                      margin-top: {{ marginTop }};
                                              {% endif %}
                                              {% if marginRight !== '' %}
                                                      margin-right: {{ marginRight }};
                                              {% endif %}
                                              {%if marginLeft !== '' %}
                                                      margin-left: {{ marginLeft }};
                                              {%endif %}
                                              ">
                               {{ textValue }}
                           </span>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endset %}
                {% if element.translated.config.url.value %}
                    <a href="{{ element.translated.config.url.value }}"
                       class="cms-image-link"
                       {% if element.translated.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>
                        {{ imageElement }}
                    </a>
                {% else %}
                    {{ imageElement }}
                {% endif %}
            {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}