<div class="accordion w-75 m-auto d-flex justify-content-center flex-column" id="accordionExample" style="height: 100%;">
{% for item in element.config.entries.value %}

    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ loop.index }}">
            <button style="background-color: {{ item.btnBackground }}; color: {{ item.btnColor }};--color:{{ item.btnColor }}; border-radius: {{ item.btnRadius }}; font-size: {{ item.fontSize }}; font-weight: {{ item.fontWeight }};"
                    class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}">
                {{item.title}}
            </button>
        </h2>
        <div style="--radius: {{ item.btnRadius | split(' ')[0]}};" id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="background-color: {{ item.panelBackground }};">
               {{ item.content | raw }}
            </div>
        </div>
    </div>

{% endfor %}
</div>