{% block element_double_image %}
    {% set config = element.fieldConfig.elements %}
    <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}" style="width: {{ config.leftImageWidth.value }}; display: flex;">
        {% block element_product_slider_left_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
            {% block element_image_inner %}
                {% set imageElement %}
                    {% block element_image_left_container %}
                        {% if element.data[0].media.url %}
                            <div class="cms-image-container is-display-{{ element.translated.config.displayModeLeft.value }}"
                                 style="max-height: {{ element.translated.config.minHeightLeftImage.value }};
                                         display: flex;
                                         flex: 1 1 100%;
                                         background-color: {{ element.translated.config.backgroundColorLeft.value }}"
                                    {% if element.translated.config.minHeightLeftImage.value and element.translated.config.displayModeLeft.value == "cover" %} style="max-height: {{ element.translated.config.minHeightLeftImage.value }};"{% endif %}>
                                {% block element_image_left_media %}
                                    {% set attributes = {
                                        'class': 'cms-image',
                                        'alt': (element.data[0].media.translated.alt ?: ''),
                                        'title': (element.data[0].media.translated.title ?: ''),
                                        'loading': 'lazy'
                                    } %}

{#                                    {% if element.translated.config.displayModeLeft.value == 'cover' or element.translated.config.displayModeLeft.value == 'contain' %}#}
{#                                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}#}
{#                                    {% endif %}#}

                                    {% sw_thumbnails 'cms-image-thumbnails' with {
                                        media: element.data[0].media
                                    } %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endset %}

                {% if element.translated.config.leftUrl.value %}
                    <a href="{{ element.translated.config.leftUrl.value }}"
                       class="cms-image-link"
                       {% if element.translated.config.newTabLeft.value %}target="_blank" rel="noopener"{% endif %}>
                        {{ imageElement }}
                    </a>
                {% else %}
                    {{ imageElement }}
                {% endif %}
            {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>

    <div class="cms-element-{{ element.type }}{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}" style="width: {{ config.rightImageWidth.value }}; display: flex;">
        {% block element_product_slider_right_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
            {% block element_image_right_inner %}
                {% set imageElement %}
                    {% block element_image_right_container %}
                        {% if element.data[1].media.url %}
                            <div class="cms-image-container is-display-{{ element.translated.config.displayModeRight.value }}"
                                 style="max-height: {{ element.translated.config.minHeightRightImage.value }};
                                         display: flex;
                                         flex: 1 1 100%;
                                         background-color: {{ element.translated.config.backgroundColorRight.value }}"

                                    {% if element.translated.config.minHeightRightImage.value and element.translated.config.displayModeRight.value == "cover" %} style="min-height: {{ element.translated.config.minHeightRightImage.value }};"{% endif %}>
                                {% block element_image_right_media %}
                                    {% set attributes = {
                                        'class': 'cms-image',
                                        'alt': (element.data[1].media.translated.alt ?: ''),
                                        'title': (element.data[1].media.translated.title ?: ''),
                                        'loading': 'lazy'
                                    } %}

{#                                    {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}#}
{#                                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}#}
{#                                    {% endif %}#}

                                    {% sw_thumbnails 'cms-image-thumbnails' with {
                                        media: element.data[1].media
                                    } %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endset %}

                {% if element.translated.config.rightUrl.value %}
                    <a href="{{ element.translated.config.rightUrl.value }}"
                       class="cms-image-link"
                       {% if element.translated.config.newTabRight.value %}target="_blank" rel="noopener"{% endif %}>
                        {{ imageElement }}
                    </a>
                {% else %}
                    {{ imageElement }}
                {% endif %}
            {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
