{% block element_image %}
    {% set config = element.fieldConfig.elements %}
    <div class="cms-element-image maxWidth-{{ config.maxWidth.value }} {% if config.verticalAlign.value %} has-vertical-alignment{% endif %} custom-image-wrapper  is--{{ config.imageDisplayType.value }} is--{{ config.imageDisplayFigure.value }} {{ config.linkTextAlign.value }} position-horizontal--{{ config.imageHorizontalPosition.value }} position-vertical--{{ config.imageVerticalPosition.value }}"
         data-imagelink-plugin>
        {% block element_product_slider_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
            {% block element_image_inner %}
                {% set textValue = element.translated.config.textLink.value %}
                {% set imageElement %}
                    {% block element_image_container %}
                        {% if element.data.imageStruct.media.url %}
                            <div class="cms-image-container img is-{{ config.imageDisplayFigure.value }}"
                                 style="background-color: {{ config.imageBackgroundColor.value }}; min-height: {{ config.minHeight.value }}"
                                    {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == "cover" %} style="min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>
                                {% block element_image_media %}
                                    {% set imageClasses = element.translated.config.imageDisplayType.value == 'circle' ? 'cms-image is-circle' : 'cms-image' %}
                                    {% set attributes = {
                                        'class': imageClasses,
                                        'alt': (element.data.imageStruct.media.translated.alt ?: ''),
                                        'title': (element.data.imageStruct.media.translated.title ?: ''),
                                        'loading': 'lazy',
                                        'style': 'padding:'~element.config.imagePadding.value~'; object-position:'~element.data.position,
                                    } %}

                                    {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                    {% endif %}

                                    {% sw_thumbnails 'cms-image-thumbnails' with {
                                        media: element.data.imageStruct.media
                                    } %}
                                {% endblock %}
                                {% if config.useTextOverlay.value %}
                                    <div class="sw-cms-el-custom-image-overlay {% if config.enableSlider.value %}is--slider-enabled {% else %}is--slider-disabled {% endif %} {{ config.slideDirection.value }}"
                                         style="position: absolute; background-color: {{ config.textBackgroundColor.value }}; --sliderSize: {{ config.sliderHeight.value }}; --visibleLineAmount: {{ config.amountOfLinesVisible.value }};">

                                        <div class="editor-content"
                                             style="color: {{ config.ellipsisColor.value }}">{{ config.text.value | raw }}</div>
                                        {% if config.buttonText.value %}
                                            <span class="{% if config.enableSlider.value %}is--overlay-slider-button {% else %}is--overlay-visible-button{% endif %}">
                                            <a href="{{ element.translated.config.url.value }} "
                                               style="color: {{ config.linkColor.value }}"
                                               {% if element.translated.config.newTab.value %}target="_blank"
                                               rel="noopener"{% endif %}>
                                                {{ config.buttonText.value }}
                                            </a>
                                        </span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if config.useTextLink.value %}
                                    {% if textValue is defined and textValue !=null %}
                                        {#                                    {{ dump(element.translated.config) }} #}
                                        {#                                    {{ dump(element.translated.config.textMarginBottom.value) }} #}
                                        {#                                    {{ dump(element.translated.config.textMarginTop.value) }} #}
                                        {#                                    {{ dump(element.translated.config.textMarginLeft.value) }} #}
                                        {#                                    {{ dump(element.translated.config.textMarginRight.value) }} #}
                                        <span class="position-absolute {{ element.translated.config.textAlign.value }} image-link-span"
                                            {% set marginBottom =  element.translated.config.textMarginBottom.value | length ? element.translated.config.textMarginBottom.value : '' %}
                                                {% set marginTop =  element.translated.config.textMarginTop.value | length ? element.translated.config.textMarginTop.value : '' %}
                                                {% set marginLeft=  element.translated.config.textMarginLeft.value | length ? element.translated.config.textMarginLeft.value : '' %}
                                                {% set marginRight =  element.translated.config.textMarginRight.value | length ? element.translated.config.textMarginRight.value : '' %}

                                      style="
                                              color:{{ element.translated.config.textLinkColor.value }};
                                              font-weight: {{ element.translated.config.fontWeight.value }};
                                              font-size: {{ element.translated.config.fontSize.value }};
                                      {% if marginBottom !== '' %}
                                              margin-bottom:{{ marginBottom }};
                                      {% endif %}
                                              {% if marginTop !== '' %}
                                                      margin-top: {{ marginTop }};
                                              {% endif %}
                                              {% if marginRight !== '' %}
                                                      margin-right: {{ marginRight }};
                                              {% endif %}
                                              {% if marginLeft !== '' %}
                                                      margin-left: {{ marginLeft }};
                                              {% endif %}
                                              ">
                               {{ textValue }}
                           </span>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endset %}
                {% if element.translated.config.textLinkUrl.value and config.useTextLink.value %}
                    <a href="{{ element.translated.config.textLinkUrl.value }}"
                       class="cms-image-link"
                       style="height: 100%; width: 100%;"
                       {% if element.translated.config.textLinkNewTab.value %}target="_blank" rel="noopener"{% endif %}>
                        {{ imageElement }}
                    </a>
                {% else %}
                    {{ imageElement }}
                {% endif %}
            {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}