{% block element_image_text_sibling_block %}
    <div class="cms-element-image-text-sibling"
         style="display:flex; flex-direction: {{ element.translated.config.flexDirection.value }}; min-height:120px; max-height: {{ element.translated.config.minHeight.value }}">
        {% set config = element.fieldConfig.elements %}
        <div class="cms-element-image{% if config.verticalAlign.value %} has-vertical-alignment{% endif %}"
             style="width: {{ element.translated.config.imageWidth.value }}; height: inherit;">
            {% block element_product_slider_alignment %}
                {% if config.verticalAlign.value %}
                    <div
                    class="cms-element-alignment" style="height: inherit; width: 100%;">
                {% endif %}
                {% block element_image_inner %}
                    {% set imageElement %}
                        {% block element_image_container %}
                            {% if element.data[0].media.url %}
                                <div class="cms-image-container is-display-{{ element.translated.config.displayMode.value }}"
                                     style=";
                                             display: flex;
                                             min-height:120px;
                                             height:100%;
                                             flex: 1 1 100%;"
                                        {% if element.translated.config.minHeightLeftImage.value and element.translated.config.displayModeLeft.value == "cover" %} style="max-height: {{ element.translated.config.minHeightLeftImage.value }};"{% endif %}>
                                    {% block element_image_media %}
                                        {% set attributes = {
                                            'class': 'cms-image',
                                            'alt': (element.data[0].media.translated.alt ?: ''),
                                            'title': (element.data[0].media.translated.title ?: ''),
                                            'loading': 'lazy'
                                        } %}

                                        {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                                            {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                        {% endif %}

                                        {% sw_thumbnails 'cms-image-thumbnails' with {
                                            media: element.data[0].media
                                        } %}
                                    {% endblock %}
                                    {#                                {% if textValue is defined and textValue !=null %} #}
                                    {#                                    #}{#                                    {{ dump(element.translated.config) }} #}
                                    {#                                    #}{#                                    {{ dump(element.translated.config.textMarginBottom.value) }} #}
                                    {#                                    #}{#                                    {{ dump(element.translated.config.textMarginTop.value) }} #}
                                    {#                                    #}{#                                    {{ dump(element.translated.config.textMarginLeft.value) }} #}
                                    {#                                    #}{#                                    {{ dump(element.translated.config.textMarginRight.value) }} #}
                                    {#                                    <span class="position-absolute {{ element.translated.config.textAlign.value }}" #}
                                    {#                                            {% set marginBottom =  element.translated.config.textMarginBottom.value | length ? element.translated.config.textMarginBottom.value : '' %} #}
                                    {#                                            {% set marginTop =  element.translated.config.textMarginTop.value | length ? element.translated.config.textMarginTop.value : '' %} #}
                                    {#                                            {% set marginLeft=  element.translated.config.textMarginLeft.value | length ? element.translated.config.textMarginLeft.value : '' %} #}
                                    {#                                            {% set marginRight =  element.translated.config.textMarginRight.value | length ? element.translated.config.textMarginRight.value : '' %} #}

                                    {#                                      style=" #}
                                    {#                                              color:{{ element.translated.config.linkColor.value }}; #}
                                    {#                                              font-weight: {{ element.translated.config.fontWeight.value }}; #}
                                    {#                                              font-size: {{ element.translated.config.fontSize.value }}; #}
                                    {#                                      {% if marginBottom !== '' %} #}
                                    {#                                              margin-bottom:{{ marginBottom }}; #}
                                    {#                                      {% endif %} #}
                                    {#                                              {% if marginTop !== '' %} #}
                                    {#                                                      margin-top: {{ marginTop }}; #}
                                    {#                                              {% endif %} #}
                                    {#                                              {% if marginRight !== '' %} #}
                                    {#                                                      margin-right: {{ marginRight }}; #}
                                    {#                                              {% endif %} #}
                                    {#                                              {%if marginLeft !== '' %} #}
                                    {#                                                      margin-left: {{ marginLeft }}; #}
                                    {#                                              {%endif %} #}
                                    {#                                              "> #}
                                    {#                               {{ textValue }} #}
                                    {#                           </span> #}
                                    {#                                {% endif %} #}
                                </div>
                            {% endif %}
                        {% endblock %}
                    {% endset %}
{#                    {% if element.translated.config.url.value %}#}
{#                        <a href="{{ element.translated.config.url.value }}"#}
{#                           class="cms-image-link"#}
{#                           {% if element.translated.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>#}
{#                            {{ imageElement }}#}
{#                        </a>#}
{#                    {% else %}#}
                        {{ imageElement }}
{#                    {% endif %}#}
                {% endblock %}
                {% if config.verticalAlign.value %}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
{#        {{ dump(element.data[1].extensions.textImage.url) }}#}
        <div class="cms-element-text"
             style="
                     height:inherit;
                     display:flex;
                     flex-grow: 1;
                     max-width: calc(100% - {{ element.translated.config.imageWidth.value }});
                     flex-direction: column;
                     justify-content: {{ element.translated.config.textVerticalAlign.value }};
                     background-color: {{ element.translated.config.textBackgroundColor.value }};
                     max-height: {{ element.translated.config.minHeight.value }};">
            <div class="content">
                {{ element.data[1].content | raw | sw_sanitize }}
            </div>
            {% if element.data[1].extensions.textImage.url is defined %}
                <a style="align-self: {{ element.translated.config.textVerticalAlign.value }}" href="{{ element.data[1].extensions.textImage.url }}">
                    <span style="line-height: unset;" class="btn btn-primary py-1 cms-element-text-button rounded-pill bg-primary-color border-0 font-background-color">{{ element.translated.config.buttonText.value }}</span>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}