{% block element_image %}
    {% set config = element.fieldConfig.elements %}
    <div class="cms-element-image{% if config.verticalAlign.value %} has-vertical-alignment{% endif %} image-text-overlay-wrapper"
         data-imagelink-plugin>
        {% block element_product_slider_alignment %}
            {% if config.verticalAlign.value %}
                <div class="cms-element-alignment{% if config.verticalAlign.value == "center" %} align-self-center{% elseif config.verticalAlign.value == "flex-end" %} align-self-end{% else %} align-self-start{% endif %}">
            {% endif %}
            {% block element_image_inner %}
                {% set imageElement %}
                    {% block element_image_container %}
                        {% if element.data.media.url %}
                            <div class="cms-image-container is-cover is-square"
                                    {% if element.translated.config.minHeight.value and element.translated.config.displayMode.value == "cover" %} style="min-height: {{ element.translated.config.minHeight.value }};"{% endif %}>
                                {% block element_image_media %}
                                    {% set imageClasses = element.translated.config.imageDisplayType.value == 'circle' ? 'cms-image is-circle' : 'cms-image' %}
                                    {% set attributes = {
                                        'class': imageClasses,
                                        'alt': (element.data.media.translated.alt ?: ''),
                                        'title': (element.data.media.translated.title ?: ''),
                                        'loading': 'lazy'
                                    } %}

                                    {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
                                        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
                                    {% endif %}

                                    {% sw_thumbnails 'cms-image-thumbnails' with {
                                        media: element.data.media
                                    } %}
                                {% endblock %}
                                <div class="sw-cms-el-image-overlay {% if config.enableSlider.value %}is--slider-enabled {% else %}is--slider-disabled {% endif %} {{ config.slideDirection.value }}"
                                     style="position: absolute; background-color: {{ config.textBackgroundColor.value }}; --sliderSize: {{ config.sliderHeight.value }}; --visibleLineAmount: {{ config.amountOfLinesVisible.value }};">

                                    <div class="editor-content" style="color: {{ config.ellipsisColor.value }}">{{ config.content.value | raw }}</div>
                                    {% if config.buttonText.value %}
                                        <span class="{% if config.enableSlider.value %}is--overlay-slider-button {% else %}is--overlay-visible-button{% endif %}">
                                            <a href="{{ element.translated.config.url.value }} "
                                               style="color: {{ config.linkColor.value }}"
                                               {% if element.translated.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>
                                                {{ config.buttonText.value }}
                                            </a>
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endset %}
{#                {% if element.translated.config.url.value %}#}
{#                    <a href="{{ element.translated.config.url.value }}"#}
{#                       class="cms-image-link"#}
{#                       {% if element.translated.config.newTab.value %}target="_blank" rel="noopener"{% endif %}>#}
{#                        {{ imageElement }}#}
{#                    </a>#}
{#                {% else %}#}
                <div>
                    {{ imageElement }}
                </div>
{#                {% endif %}#}
            {% endblock %}
            {% if config.verticalAlign.value %}
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}