{% block sw_cms_element_custom_text %}
    <div
            class="custom-text-wrapper"
            style="background-color: {{ element.config.backgroundColor.value }};
                    min-height: {{ element.config.minHeight.value }};
                    align-items: {{ element.config.verticalAlign.value }};
            {% if element.config.useButton.value or element.config.useTextLink.value %} flex-direction: column; padding-top: 25px {% endif %}">
        <div class="text-container"
             style="{% if (element.config.useButton.value or element.config.useTextLink.value) and element.config.verticalAlign.value == 'center' %}
                     margin-top: auto; margin-bottom: auto; {% endif %}">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_custom_text_content %}
            {{ element.config.text.value | raw }}
        {% endblock %}
        {% set textValue =  element.config.linkOrButtonText.value %}
        {#        {% if element.config.url.value %} #}
        {#            {% set textValue = '<a href="'element.translated.config.url.value~'">'~ element.config.linkOrButtonText.value~' </a>' %} #}
        {#        {% endif %} #}
        {% if element.config.useButton.value == 'true' %}
            {% block cms_custom_text_button %}
                <button class="btn btn-primary is--{{ element.config.linkPosition.value }}"
                        style="background-color: {{ element.config.buttonColor.value }};
                                color: {{ element.config.linkColor.value }};
                                font-size: {{ element.config.fontSize.value }};
                                font-weight: {{ element.config.fontWeight.value }}">
                    {% if element.config.url.value %}
                        <a href="{{ element.translated.config.url.value }}" {% if element.config.newTab.value %} target="_blank" {% endif %}>
                            {{ textValue | raw }}
                        </a>
                    {% else %}
                        {{ textValue | raw }}
                    {% endif %}
                </button>
            {% endblock %}
        {% endif %}
        {% if element.config.useTextLink.value == 'true' %}
            {% block cms_custom_text_link %}
                <span class="text-link is--{{ element.config.linkPosition.value }}"
                      style=" color: {{ element.config.linkColor.value }};">
         {% if element.config.url.value %}
             <a style="color: {{ element.config.linkColor.value }}"
                href="{{ element.translated.config.url.value }}" {% if element.config.newTab.value %} target="_blank" {% endif %}>
                    {{ textValue | raw }}
                </a>
         {% else %}
             {{ textValue | raw }}
         {% endif %}
            </span>
            {% endblock %}
        {% endif %}
        </div>
    </div>
{% endblock %}
