.sw-cms-preview-image-text-four-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    height: 120px;
    position: relative;
    div {
        width: 100%;
        height: 90px;
        position: relative;
        img {
            position: relative;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 90px;
        }

        span {
            position: absolute;
            bottom: 0;
            padding-bottom: 1rem;
            left: 1rem;
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    }
}
