.sw-cms-el-text-with-link-preview {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .text-container {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 3px 8px;
    background-color: #F8F2EE;
    height: 100%;

    h1, h2, h3, h4, h5,h6 {
      margin-bottom: 5px;
    }

    p {
      display: -webkit-box;
      width: 100%;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}