{% block sw_cms_element_text_with_link_preview %}
    <div class="sw-cms-el-text-with-link-preview">
            <div class="text-container">
                <h3>Example header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
    </div>
{% endblock %}