<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_preview %}
<div class="sw-cms-el-preview-image-text-sibling">
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
    <span>Text value</span>
</div>
{% endblock %}
