.sw-cms-el-preview-image-text-sibling {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;

    img {
        margin: 0;
        display: block;
        width: 100%;
    }
    span {
        position: absolute;
        bottom:0;
        //left:30px;
        margin: auto auto 30px auto;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        z-index: 9999;
    }
}
