.sw-cms-block-image-text-sibling {
    display: flex;
    img {
        object-fit: cover;
        min-width: 50%;
        //height:90px;
    }
    .text-wrapper {
        padding: 15px;
        text-align: center;
        display:flex;
        flex-direction: column;
        flex-grow: 1;
        background-color: transparent;
        color: #000;
    }
}
