<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_sibling %}
<div class="sw-cms-block-image-text-sibling">
    <slot name="center"></slot>
</div>
{% endblock %}
