<!-- eslint-disable-next-line rc-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_two_grid_block_4_8 %}
<div class="grid-block rc-cms-block-two-grid-block-4-8">
    <slot name="left"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
