.sw-cms-el-image-text-overlay-preview {
  height: 100%;
  width: 100%;
  .sw-cms-el-image-container {
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      margin: 0;
      display: block;
      width: 110%;
    }
  }
  .sw-cms-el-image-text-overlay-text {
    position: absolute;
    bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 45%;
    width: calc(100% - 20px);
    background-color: #fffacc95;

    .text-container {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
      padding: 3px 8px;

      h1, h2, h3, h4, h5,h6 {
        margin-bottom: 3px;
      }

      p {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}