.rc-cms-block-preview-three-grid-block-3-5-4 {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    height: 150px;
    div {
        box-sizing: border-box;
        background-color: grey;
        &:nth-of-type(1) {
            border-right: 1px solid black;
        }
        &:nth-of-type(2) {
            border-right: 1px solid black;
        }
    }
}
