<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_four_grid_block_3_3_3_3 %}
<div class="grid-block rc-cms-block-four-grid-block-3-3-3-3" style="--framestyle: block.var">
    <slot name="left"></slot>
    <slot name="midLeft"></slot>
    <slot name="midRight"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
