<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_sibling_preview %}
    <div class="sw-cms-preview-image-text-sibling">
            <img
                    :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
                    alt=""
            >
            <div class="text-wrapper">
                <h3>Example header</h3>
                <p>some text provided by the user goes here</p>
            </div>
    </div>
{% endblock %}
