.rc-cms-block-preview-two-grid-block-6-6 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    height: 150px;
    //grid-gap: 20px;
    //padding: 15px;
    //height: 120px;
    //position: relative;

    div {
        box-sizing: border-box;
        background-color: grey;
        &:first-of-type {
            border-right: 1px solid black;
        }
    }
}

//.col-gap-40 {
//    .sw-cms-block-two-grid-block-6-6 {
//        column-gap: 40px;
//    }
//}
