.sw-cms-el-double-image {
  height: 350px;
  width: 100%;
  display: flex;

  .sw-cms-el-image-container {
    height: 100%;
    width: 50%;
    display: flex;
      img {
        width: 100%;
        height: 100%;
      }
    &.is-display-cover {
      img {
        object-fit: cover;
      }
    }
    &.is-display-standard {
      justify-content: center;
      align-items: center;
      img {
        height: 33%;
        object-fit: contain;
        padding: 0 30px;
      }
    }
    &.is-display-stretch {
      img {
        object-fit: none;
      }
    }
  }
}