<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image %}
    <div
            class="sw-cms-el-double-image"
            :style="styles"

    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_double_image_left_content %}
            <div class="sw-cms-el-image-container" :class="imageContainerLeftClasses" :style="imageContainerLeftStyles">
                <img
                        :src="mediaUrlLeft"
                        :style="imageLeftStyles"
                        alt=""
                >
            </div>
        {% endblock %}        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_double_image_right_content %}
            <div class="sw-cms-el-image-container" :class="imageContainerRightClasses" :style="imageContainerRightStyles">
                <img
                        :src="mediaUrlRight"
                        :style="imageRightStyles"
                        alt=""
                >
            </div>
        {% endblock %}
    </div>
{% endblock %}
