<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_two_grid_block_3_3_6 %}
<div class="grid-block rc-cms-block-three-grid-block-3-3-6">
    <slot name="left"></slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
