<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_text_overlay_config %}
    {% block sw_cms_element_image_config %}
        <div class="sw-cms-el-config-image">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_media_upload %}
                <sw-cms-mapping-field
                        v-model="element.config.media"
                        label="Image"
                        value-types="entity"
                        entity="media"
                >
                    <sw-media-upload-v2
                            variant="regular"
                            :upload-tag="uploadTag"
                            :source="previewSource"
                            :allow-multi-select="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove"
                    />

                    <template #preview="{ demoValue }">
                        <div class="sw-cms-el-config-image__mapping-preview">
                            <img
                                    v-if="demoValue.url"
                                    :src="demoValue.url"
                                    alt=""
                            >
                            <sw-alert
                                    v-else
                                    class="sw-cms-el-config-image__preview-info"
                                    variant="info"
                            >
                                {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                            </sw-alert>
                        </div>
                    </template>
                </sw-cms-mapping-field>
                <sw-upload-listener
                        :upload-tag="uploadTag"
                        auto-upload
                        @media-upload-finish="onImageUpload"
                />
            {% endblock %}

            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_media_modal %}
                <sw-media-modal-v2
                        v-if="mediaModalIsOpen"
                        variant="regular"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        :entity-context="cmsPageState.entityName"
                        :allow-multi-select="false"
                        :initial-folder-id="cmsPageState.defaultMediaFolderId"
                        @media-upload-remove-image="onImageRemove"
                        @media-modal-selection-change="onSelectionChanges"
                        @modal-close="onCloseModal"
                />
            {% endblock %}

            {% block sw_cms_element_image_config_image_display_type %}
                <sw-select-field
                        v-model="element.config.imageDisplayType.value"
                        class="sw-cms-el-config-image__display-type"
                        label="Choose how to display the image"
                        @change="onChangeImageDisplayType"
                >
                    <option value="standard">
                        Standard
                    </option>
                    <option value="square">
                        Square
                    </option>
{#                    <option value="circle">#}
{#                        Circle#}
{#                    </option>#}
                </sw-select-field>
            {% endblock %}
            <sw-tabs
                    position-identifier="sw-cms-element-config-text"
                    class="sw-cms-el-config-text__tabs"
                    default-item="content"
            >
                <template #default="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_config_text_tab_content %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.general.config.tab.content')"
                                name="content"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_tab_options %}
                        <sw-tabs-item
                                title="Text area settings"
                                name="text-settings"
                                :active-tab="active"
                        >
                            Text area settings
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_url_config_tab_options %}
                        <sw-tabs-item
                                title="URL settings"
                                name="url-settings"
                                :active-tab="active"
                        >
                            URL settings
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_content %}
                        <sw-container
                                v-if="active === 'content'"
                                class="sw-cms-el-config-text__tab-content"
                        >
                            <sw-cms-mapping-field
                                    v-model="element.config.content"
                                    :label="$tc('sw-cms.elements.text.config.label.content')"
                                    value-types="string"
                            >
                                <sw-text-editor
                                        v-model="element.config.content.value"
                                        :allow-inline-data-mapping="true"
                                        sanitize-input
                                        enable-transparent-background
                                        @input="onInput"
                                        @blur="onBlur"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-text__mapping-preview">
                                        <div v-html="$sanitize(demoValue)"></div>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>
                            <sw-text-field
                                    v-model="element.config.minHeight.value"
                                    label="Element Height"
                                    placeholder="250px"
                                    @input="onChangeMinHeight"
                                    @change="onChangeMinHeight"
                            />
                        </sw-container>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_settings %}
                        <sw-container
                                v-if="active === 'text-settings'"
                                class="sw-cms-el-config-text__tab-settings"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_el_text_config_settings_vertical_align %}
                                {#                                <sw-select-field #}
                                {#                                        v-model="element.config.textVerticalAlign.value" #}
                                {#                                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')" #}
                                {#                                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')" #}
                                {#                                        @change="onChangeTextVerticalAlign" #}
                                {#                                > #}
                                {#                                    <option value="flex-start"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }} #}
                                {#                                    </option> #}
                                {#                                    <option value="center"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }} #}
                                {#                                    </option> #}
                                {#                                    <option value="flex-end"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }} #}
                                {#                                    </option> #}
                                {#                                </sw-select-field> #}
                            {% endblock %}
                            {% block sw_cms_el_text_config_background_color %}
                                <sw-colorpicker
                                        style="z-index:1001;"
                                        label="Choose the background color"
                                        v-model="element.config.textBackgroundColor.value"
                                        value="#fffacc95"
                                        colorOutput="auto"
                                        :alpha="true"
                                        :disabled="false"
                                        :colorLabels="true">

                                </sw-colorpicker>
                            {% endblock %}
                            <sw-field
                                    v-model="element.config.enableSlider.value"
                                    class="sw-cms-el-config-image__link-tab"
                                    type="switch"
                                    label="Show text as slider"
                            />
                            <sw-select-field
                                    v-model="element.config.slideDirection.value"
                                    label="Choose how the textarea is displayed"
                                    @change="onChangeSlideDirection"
                            >
                                <option value="bottom-up">
                                    Bottom -> Up
                                </option>
                                <option value="top-down">
                                    Top -> Down
                                </option>
                                <option value="left-right">
                                    Left -> Right
                                </option>
                                <option value="right-left">
                                    Right -> Left
                                </option>
                            </sw-select-field>

                            <sw-text-field
                                    v-if="element.config.slideDirection.value == 'bottom-up' || element.config.slideDirection.value == 'top-down'"
                                    v-model="element.config.sliderHeight.value"
                                    value="element.config.sliderHeight.value"
                                    label="Choose the height of the text-element"
                                    placeholder="Enter Height"
                                    @input="onChangeSliderHeightText"
                                    @change="onChangeSliderHeightText"
                            />
                            <sw-text-field
                                    v-else
                                    v-model="element.config.sliderHeight.value"
                                    value="element.config.sliderHeight.value"
                                    label="Choose the width of the text-element"
                                    placeholder="Enter width"
                                    @input="onChangeSliderHeightText"
                                    @change="onChangeSliderHeightText"
                            />
                            <sw-text-field
                                    v-model="element.config.amountOfLinesVisible.value"
                                    value="element.config.amountOfLinesVisible.value"
                                    label="How many lines should you see"
                                    placeholder="Amount of lines"
                                    @input="onChangeVisibleLines"
                                    @change="onChangeVisibleLines"
                            />
                        </sw-container>
                    {% endblock %}
                    {% block sw_cms_el_url_config_settings %}
                    <sw-container
                            v-if="active === 'url-settings'"
                            class="sw-cms-el-config-text__tab-settings"
                    >
                        <div class="sw-cms-el-config-image__link">
                            <sw-text-field
                                    v-model="element.config.buttonText.value"
                                    value="element.config.buttonText.value"
                                    label="Enter text value for button"
                                    placeholder="button text"
                                    @input="onChangeButtonText"
                                    @change="onChangeButtonText"
                            />
                            <sw-dynamic-url-field
                                    v-if="element.config.buttonText.value"
                                    v-model="element.config.url.value"
                            />
                            <sw-field
                                    v-if="element.config.buttonText.value"
                                    v-model="element.config.newTab.value"
                                    class="sw-cms-el-config-image__link-tab"
                                    type="switch"
                                    :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                            />
                            <sw-colorpicker
                                    style="z-index:1001;"
                                    label="Choose text color for the link"
                                    v-model="element.config.linkColor.value"
                                    value="element.config.linkColor.value"
                                    colorOutput="auto"
                                    :alpha="true"
                                    :disabled="false"
                                    :colorLabels="true">
                            </sw-colorpicker>
                        </div>

                    </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        </div>
    {% endblock %}
    {% block sw_cms_el_config_text %}

    {% endblock %}
{% endblock %}