<div class="sw-cms-el-form-appointment" style="padding: 10px;">
    <h3
            v-if="formSettings.title.value.length > 0"
            class="sw-cms-el-form-headline"
    >
        {{ formSettings.title.value }}
    </h3>

    <div class="sw-cms-el-form-appointment-form-group three-items">
        <sw-text-field
                placeholder="Voornaam"
                :value="$tc('sw-cms.elements.form.element.placeholder.firstName')"
        />

        <sw-text-field
                placeholder="Achternaam"
                :value="$tc('sw-cms.elements.form.element.placeholder.lastName')"
        />
        <sw-text-field
                placeholder="TelefoonNr"
                :value="$tc('sw-cms.elements.form.element.placeholder.phone')"
        />
    </div>

    <div class="sw-cms-el-form-appointment-form-group two-items">
        <sw-text-field
                :value="$tc('sw-cms.elements.form.element.placeholder.email')"
        />
    </div>

    <h4>{{ $tc('sw-cms.elements.form.element.label.privacy') }}</h4>
    <sw-checkbox-field :label="$tc('sw-cms.elements.form.element.helpText.privacy')"/>

    <div class="sw-cms-el-form__action">
        Afspraak maken
    </div>
</div>
