<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_form %}
<div class="sw-cms-el-form" :style="styles">
{#    <div v-if="element.config.type.value == 'appointment'" style="background-color: green; height: 50px; width: 100%">TEST</div>#}
    <component
{#            v-else#}
        :is="selectedForm"
        :form-settings="element.config"
    />
</div>
{% endblock %}
