.sw-cms-el-image-text-sibling-preview {
    display: flex;
    width: 100%;
    height: 100%;
    .sw-cms-el-image-container {
        min-width: 33%;
        display: block;
        width: 50%;
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .sw_cms-el-image-text {
        height: 100%;
        width: 50%;
        display: flex;
        overflow:hidden;
        text-align: center;
        flex-direction: column;
        div {
            width: 100%;
            height: 100%;
            font-size: 8pt;

            p {
                white-space: pre-wrap;
            }
        }

    }
}