<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_text_sibling_preview %}
    <div class="sw-cms-el-image-text-sibling-preview">
        <div class="sw-cms-el-image-container">
            <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
            >
        </div>
        <div class="sw_cms-el-image-text">
            <div>
                <h3>Example header</h3>
                <p>Some text provided by the user goes here</p>
            </div>
        </div>
    </div>
{% endblock %}