<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_text_with_link_config %}
    {% block sw_cms_element_image_config %}
        <div class="sw-cms-el-text-with-link-config">
            <sw-tabs
                    position-identifier="sw-cms-element-config-text"
                    class="sw-cms-el-config-text__tabs"
                    default-item="content"
            >
                <template #default="{ active }">
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_config_text_tab_content %}
                        <sw-tabs-item
                                :title="$tc('sw-cms.elements.general.config.tab.content')"
                                name="content"
                                :active-tab="active"
                        >
                            {{ $tc('sw-cms.elements.general.config.tab.content') }}
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_tab_options %}
                        <sw-tabs-item
                                title="Text area settings"
                                name="text-settings"
                                :active-tab="active"
                        >
                            Text area settings
                        </sw-tabs-item>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_url_config_tab_options %}
                        <sw-tabs-item
                                title="URL settings"
                                name="url-settings"
                                :active-tab="active"
                        >
                            URL settings
                        </sw-tabs-item>
                    {% endblock %}
                </template>

                <template #content="{ active }"
                >
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_content %}
                        <sw-container
                                v-if="active === 'content'"
                                class="sw-cms-el-config-text__tab-content"
                        >
                            <sw-cms-mapping-field
                                    v-model="element.config.content"
                                    :label="$tc('sw-cms.elements.text.config.label.content')"
                                    value-types="string"
                            >
                                <sw-text-editor
                                        v-model="element.config.content.value"
                                        :allow-inline-data-mapping="true"
                                        sanitize-input
                                        enable-transparent-background
                                        @input="onInput"
                                        @blur="onBlur"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-text__mapping-preview">
                                        <div v-html="$sanitize(demoValue)"></div>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>
                            <sw-select-field
                                    v-model="element.config.verticalAlign.value"
                                    class="sw-cms-el-config-image__display-type"
                                    value="element.config.verticalAlign.value"
                                    label="Vertical align text"
                                    @change="onChangeVerticalAlign"
                            >
                                <option value="start">
                                    Top
                                </option>
                                <option value="center">
                                    Middle
                                </option>
                                <option value="end">
                                    Bottom
                                </option>
                            </sw-select-field>
                            <sw-text-field
                                    v-model="element.config.minHeight.value"
                                    label="Element Height"
                                    placeholder="250px"
                                    @input="onChangeMinHeight"
                                    @change="onChangeMinHeight"
                            />
                        </sw-container>
                    {% endblock %}
                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                    {% block sw_cms_el_text_config_settings %}
                        <sw-container
                                v-if="active === 'text-settings'"
                                class="sw-cms-el-config-text__tab-settings"
                        >
                            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                            {% block sw_cms_el_text_config_settings_vertical_align %}
                                {#                                <sw-select-field #}
                                {#                                        v-model="element.config.textVerticalAlign.value" #}
                                {#                                        :label="$tc('sw-cms.elements.general.config.label.verticalAlign')" #}
                                {#                                        :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')" #}
                                {#                                        @change="onChangeTextVerticalAlign" #}
                                {#                                > #}
                                {#                                    <option value="flex-start"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }} #}
                                {#                                    </option> #}
                                {#                                    <option value="center"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }} #}
                                {#                                    </option> #}
                                {#                                    <option value="flex-end"> #}
                                {#                                        {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }} #}
                                {#                                    </option> #}
                                {#                                </sw-select-field> #}
                            {% endblock %}
                            {% block sw_cms_el_text_config_background_color %}
                                <sw-colorpicker
                                        style="z-index:1001;"
                                        label="Choose the background color"
                                        v-model="element.config.textBackgroundColor.value"
                                        value="#fffacc95"
                                        colorOutput="auto"
                                        :alpha="true"
                                        :disabled="false"
                                        :colorLabels="true">

                                </sw-colorpicker>
                            {% endblock %}
                            <sw-text-field
                                    v-model="element.config.amountOfLinesVisible.value"
                                    value="element.config.amountOfLinesVisible.value"
                                    label="How many lines should you see"
                                    placeholder="Amount of lines"
                                    @input="onChangeVisibleLines"
                                    @change="onChangeVisibleLines"
                            />
                        </sw-container>
                    {% endblock %}
                    {% block sw_cms_el_url_config_settings %}
                    <sw-container
                            v-if="active === 'url-settings'"
                            class="sw-cms-el-config-text__tab-settings"
                    >
                        <div class="sw-cms-el-config-image__link">
                            <sw-text-field
                                    v-model="element.config.buttonText.value"
                                    value="element.config.buttonText.value"
                                    label="Enter text value for button"
                                    placeholder="button text"
                                    @input="onChangeButtonText"
                                    @change="onChangeButtonText"
                            />
                            <sw-dynamic-url-field
                                    v-if="element.config.buttonText.value"
                                    v-model="element.config.url.value"
                            />
                            <sw-field
                                    v-if="element.config.buttonText.value"
                                    v-model="element.config.newTab.value"
                                    class="sw-cms-el-config-image__link-tab"
                                    type="switch"
                                    :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                            />
                            <sw-colorpicker
                                    style="z-index:1001;"
                                    label="Choose text color for the link"
                                    v-model="element.config.linkColor.value"
                                    value="element.config.linkColor.value"
                                    colorOutput="auto"
                                    :alpha="true"
                                    :disabled="false"
                                    :colorLabels="true">
                            </sw-colorpicker>
                        </div>

                    </sw-container>
                    {% endblock %}
                </template>
            </sw-tabs>
        </div>
    {% endblock %}
    {% block sw_cms_el_config_text %}

    {% endblock %}
{% endblock %}