<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_config %}
    <div class="sw-cms-el-config-image">
        {# from here on testing #}

        <sw-tabs
                position-identifier="sw-cms-element-config-double-image"
                class="sw-cms-el-config-double-image__tabs"
                default-item="leftImage"
        >
            <template #default="{ active }">
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_el_config_text_tab_content %}
                    <sw-tabs-item
                            title="Left image config"
                            name="leftImage"
                            :active-tab="active"
                    >
                        Left image config
                    </sw-tabs-item>
                {% endblock %}
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_el_text_config_tab_options %}
                    <sw-tabs-item
                            title="Right image config"
                            name="rightImage"
                            :active-tab="active"
                    >
                        Right image config
                    </sw-tabs-item>
                {% endblock %}
            </template>

            <template #content="{ active }"
            >
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_el_text_config_content %}
                    <sw-container
                            v-if="active === 'leftImage'"
                            class="sw-cms-el-config-left-image__tab-content"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_config_media_left_upload %}
                            <sw-cms-mapping-field
                                    v-model="element.config.mediaLeft"
                                    label="Left image"
                                    value-types="entity"
                                    entity="media"
                            >
                                <sw-media-upload-v2
                                        variant="regular"
                                        :upload-tag="uploadTag"
                                        :source="previewSourceLeft"
                                        :allow-multi-select="false"
                                        :default-folder="cmsPageState.pageEntityName"
                                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                        @media-upload-sidebar-open="onOpenMediaModal('mediaLeft')"
                                        @media-upload-remove-image="onImageRemove('mediaLeft')"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-image__mapping-preview">
                                        <img
                                                v-if="demoValue.url"
                                                :src="demoValue.url"
                                                alt=""
                                        >
                                        <sw-alert
                                                v-else
                                                class="sw-cms-el-config-image__preview-info"
                                                variant="info"
                                        >
                                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                                        </sw-alert>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>

                            <sw-upload-listener
                                    :upload-tag="uploadTag"
                                    auto-upload
                                    @media-upload-finish="onImageUploadLeft"
                            />
                        {% endblock %}
                        <div class="sw-cms-el-config-image-left">
                            {% block sw_cms_element_image_left_config_display_mode %}
                                <sw-text-field
                                        v-model="element.config.leftImageWidth.value"
                                        label="Left image width (%)"
                                        placeholder="Enter an image width in %"
                                        @input="onChangeImageWidthLeft"
                                />
                                <sw-select-field
                                        v-model="element.config.displayModeLeft.value"
                                        class="sw-cms-el-config-image__display-mode"
                                        label="Choose how to display the left image"
                                        @change="onChangeDisplayModeLeft"
                                >
                                    <option value="standard">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                                    </option>
                                    <option value="cover">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                                    </option>
                                    <option value="stretch">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeStretch') }}
                                    </option>
                                </sw-select-field>
                                <template v-if="element.config.displayModeLeft.value === 'cover'">
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block sw_cms_element_image_config_min_height_left %}
                                        <sw-text-field
                                                v-model="element.config.minHeightLeftImage.value"
                                                :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                                                :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')"
                                                @input="onChangeMinHeightLeftImage"
                                                @change="onChangeMinHeightLeftImage"
                                        />
                                    {% endblock %}
                                </template>
                                <template v-if="element.config.displayModeLeft.value === 'standard'">
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block sw_cms_element_image_config_background_color_left %}
                                        <sw-colorpicker
                                                label="Choose the background-color"
                                                v-model="element.config.backgroundColorLeft.value"
                                                value="#6ed59f"
                                                colorOutput="auto"
                                                :alpha="true"
                                                :disabled="false"
                                                :colorLabels="true"
                                                zIndex="1001">
                                        </sw-colorpicker>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                            {% block sw_cms_element_image_config_link_left %}
                                <div class="sw-cms-el-config-image__link">
                                    <sw-dynamic-url-field
                                            v-model="element.config.leftUrl.value"
                                    />
                                    <sw-field
                                            v-model="element.config.newTabLeft.value"
                                            class="sw-cms-el-config-image__link-tab"
                                            type="switch"
                                            :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                    />

                                </div>
                            {% endblock %}
                        </div>
                    </sw-container>
                {% endblock %}
                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                {% block sw_cms_el_text_config_settings %}
                    <sw-container
                            v-if="active === 'rightImage'"
                            class="sw-cms-el-config-right-image__tab-settings"
                    >
                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block sw_cms_element_image_config_media_right_upload %}
                            <sw-cms-mapping-field
                                    v-model="element.config.mediaRight"
                                    label="Right image"
                                    value-types="entity"
                                    entity="media"
                            >
                                <sw-media-upload-v2
                                        variant="regular"
                                        :upload-tag="uploadTag"
                                        :source="previewSourceRight"
                                        :allow-multi-select="false"
                                        :default-folder="cmsPageState.pageEntityName"
                                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                        @media-upload-sidebar-open="onOpenMediaModal('mediaRight')"
                                        @media-upload-remove-image="onImageRemove('mediaRight')"
                                />

                                <template #preview="{ demoValue }">
                                    <div class="sw-cms-el-config-image__mapping-preview">
                                        <img
                                                v-if="demoValue.url"
                                                :src="demoValue.url"
                                                alt=""
                                        >
                                        <sw-alert
                                                v-else
                                                class="sw-cms-el-config-image__preview-info"
                                                variant="info"
                                        >
                                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                                        </sw-alert>
                                    </div>
                                </template>
                            </sw-cms-mapping-field>

                            <sw-upload-listener
                                    :upload-tag="uploadTag"
                                    auto-upload
                                    @media-upload-finish="onImageUploadRight"
                            />
                        {% endblock %}
                        <div class="sw-cms-el-config-image-right">
                            {% block sw_cms_element_image_right_config_display_mode %}
                                <sw-text-field
                                        v-model="element.config.rightImageWidth.value"
                                        label="Right image width (%)"
                                        placeholder="Enter an image width in %"
                                        @input="onChangeImageWidthRight"
                                />
                                <sw-select-field
                                        v-model="element.config.displayModeRight.value"
                                        class="sw-cms-el-config-image__display-mode"
                                        label="Choose how to display the right image"
                                        @change="onChangeDisplayModeRight"
                                >
                                    <option value="standard">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                                    </option>
                                    <option value="cover">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                                    </option>
                                    <option value="stretch">
                                        {{ $tc('sw-cms.elements.general.config.label.displayModeStretch') }}
                                    </option>
                                </sw-select-field>
                                <template v-if="element.config.displayModeRight.value === 'cover'">
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block sw_cms_element_image_config_min_height_right %}
                                        <sw-text-field
                                                v-model="element.config.minHeightRightImage.value"
                                                :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                                                :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')"
                                                @input="onChangeMinHeightRightImage"
                                                @change="onChangeMinHeightRightImage"
                                        />
                                    {% endblock %}
                                </template>
                                <template v-if="element.config.displayModeRight.value === 'standard'">
                                    <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                    {% block sw_cms_element_image_config_background_color_right %}
                                        <sw-colorpicker
                                                label="Choose the background-color"
                                                v-model="element.config.backgroundColorRight.value"
                                                value="#6ed59f"
                                                colorOutput="auto"
                                                :alpha="true"
                                                :disabled="false"
                                                :colorLabels="true"
                                                zIndex="1001">

                                        </sw-colorpicker>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                            {% block sw_cms_element_image_config_link_right %}
                                <div class="sw-cms-el-config-image__link">
                                    <sw-dynamic-url-field
                                            v-model="element.config.rightUrl.value"
                                    />
                                    <sw-field
                                            v-model="element.config.newTabRight.value"
                                            class="sw-cms-el-config-image__link-tab"
                                            type="switch"
                                            :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                                    />

                                </div>
                            {% endblock %}
                        </div>
                    </sw-container>
                {% endblock %}
            </template>
        </sw-tabs>
        {% block sw_cms_element_image_left_config_media_modal %}
            <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="regular"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onImageRemove"
                    @media-modal-selection-change="onSelectionChanges"
                    @modal-close="onCloseModal"
            />
        {% endblock %}
    </div>
{% endblock %}




