<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_two_grid_block_8_4 %}
<div class="grid-block rc-cms-block-two-grid-block-8-4">
    <slot name="left"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
