.component-accordion {
  background-color: #eee;
  color: #444;
  border:1px solid #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.4s;
  position: relative;
}
.component-accordion:after {
  content: '+';
  //width: 15px;
  //height: 15px;
  position:absolute;
  right: 10px;
}
.active, .component-accordion:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* Style the accordion panel. Note: hidden by default */
.component-panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}