<div>
    <div v-for="(item, index) in element.config.entries.value">
        <button class="component-accordion"
                :style="buttonStyles(index)">{{ item.title }}</button>
        <div class="component-panel">
            <p>{{ item.content }}</p>
        </div>
    </div>
</div>