<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_config %}
    <div class="sw-cms-el-config-image">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_media_upload %}
            <sw-cms-mapping-field
                    v-model="element.config.media"
                    :label="$tc('sw-cms.elements.image.link.label')"
                    value-types="entity"
                    entity="media"
            >
                <sw-media-upload-v2
                        variant="regular"
                        :upload-tag="uploadTag"
                        :source="previewSource"
                        :allow-multi-select="false"
                        :default-folder="cmsPageState.pageEntityName"
                        :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                        @media-upload-sidebar-open="onOpenMediaModal"
                        @media-upload-remove-image="onImageRemove"
                />

                <template #preview="{ demoValue }">
                    <div class="sw-cms-el-config-image__mapping-preview">
                        <img
                                v-if="demoValue.url"
                                :src="demoValue.url"
                                alt=""
                        >
                        <sw-alert
                                v-else
                                class="sw-cms-el-config-image__preview-info"
                                variant="info"
                        >
                            {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                        </sw-alert>
                    </div>
                </template>
            </sw-cms-mapping-field>

            <sw-upload-listener
                    :upload-tag="uploadTag"
                    auto-upload
                    @media-upload-finish="onImageUpload"
            />
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_display_mode %}
            <sw-select-field
                    v-model="element.config.displayMode.value"
                    class="sw-cms-el-config-image__display-mode"
                    :label="$tc('sw-cms.elements.general.config.label.displayMode')"
                    @change="onChangeDisplayMode"
            >
                <option value="standard">
                    {{ $tc('sw-cms.elements.general.config.label.displayModeStandard') }}
                </option>
                <option value="cover">
                    {{ $tc('sw-cms.elements.general.config.label.displayModeCover') }}
                </option>
                <option value="stretch">
                    {{ $tc('sw-cms.elements.general.config.label.displayModeStretch') }}
                </option>
            </sw-select-field>
        {% endblock %}

        <template v-if="element.config.displayMode.value === 'cover'">
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_image_config_min_height %}
                <sw-text-field
                        v-model="element.config.minHeight.value"
                        :label="$tc('sw-cms.elements.image.config.label.minHeight')"
                        :placeholder="$tc('sw-cms.elements.image.config.placeholder.enterMinHeight')"
                        @input="onChangeMinHeight"
                />
            {% endblock %}
        </template>
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_image_display_type %}
            <sw-select-field
                    v-model="element.config.imageDisplayType.value"
                    class="sw-cms-el-config-image__display-type"
                    label="Choose how to display the image"
                    @change="onChangeImageDisplayType"
            >
                <option value="standard">
                    Standard
                </option>
                <option value="square">
                    Square
                </option>
                <option value="circle">
                    Circle
                </option>
            </sw-select-field>
        {% endblock %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_vertical_align %}
            <sw-select-field
                    v-model="element.config.verticalAlign.value"
                    :label="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                    :placeholder="$tc('sw-cms.elements.general.config.label.verticalAlign')"
                    :disabled="element.config.displayMode.value === 'cover'"
            >
                <option value="flex-start">
                    {{ $tc('sw-cms.elements.general.config.label.verticalAlignTop') }}
                </option>
                <option value="center">
                    {{ $tc('sw-cms.elements.general.config.label.verticalAlignCenter') }}
                </option>
                <option value="flex-end">
                    {{ $tc('sw-cms.elements.general.config.label.verticalAlignBottom') }}
                </option>
            </sw-select-field>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_link %}
            <div class="sw-cms-el-config-image__link">
                <sw-dynamic-url-field
                        v-model="element.config.url.value"
                />
                <sw-field
                        v-model="element.config.newTab.value"
                        class="sw-cms-el-config-image__link-tab"
                        type="switch"
                        :label="$tc('sw-cms.elements.image.config.label.linkNewTab')"
                />
            </div>
        {% endblock %}

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_text %}
            <div class="sw-cms-el-config-image__text">
                <sw-colorpicker
                        style="z-index: 1001"
                        label="Choose the text color"
                        v-model="element.config.linkColor.value"
                        value="#6ed59f"
                        colorOutput="auto"
                        :alpha="true"
                        :disabled="false"
                        :colorLabels="true">

                </sw-colorpicker>
                <sw-text-field
                        v-model="element.config.text.value"
                        label="Text value"
                        placeholder="Enter the text value"
                        @input="onChangeText"
                        @change="onChangeText"
                />
            </div>
        {% endblock %}

        {% block sw_cms_element_image_config_text_size %}
            <sw-text-field
                    v-model="element.config.fontSize.value"
                    label="Enter a font size with px or rem"
                    placeholder="1rem"
                    @input="onChangeFontSize"
                    @change="onChangeFontSize"
            />
        {% endblock %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_text_weight %}
            <sw-select-field
                    v-model="element.config.fontWeight.value"
                    class="sw-cms-el-config-image__font-weight"
                    label="Choose the text weight"
                    @change="onChangeTextWeight"
            >
                <option value="100">
                    Thin
                </option>
                <option value="200">
                    Extra Light
                </option>
                <option value="300">
                    Light
                </option>
                <option value="400">
                    Normal
                </option>
                <option value="500">
                    Medium
                </option>
                <option value="600">
                    Semi Bold
                </option>
                <option value="700">
                    Bold
                </option>
                <option value="800">
                    Extra Bold
                </option>
            </sw-select-field>
        {% endblock %}


        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_text_align %}
            <sw-select-field
                    v-model="element.config.textAlign.value"
                    class="sw-cms-el-config-image__text-align"
                    label="Choose where to align the text"
                    @change="onChangeTextAlign"
            >
                <option value="text-bottom left">
                    Bottom Left
                </option>
                <option value="text-bottom center">
                    Bottom Center
                </option>
                <option value="text-bottom right">
                    Bottom Right
                </option>
                <option value="text-center left">
                    Center Left
                </option>
                <option value="text-center center">
                    Center Center
                </option>
                <option value="text-center right">
                    Center Right
                </option>
                <option value="text-top left">
                    Top Left
                </option>
                <option value="text-top center">
                    Top Center
                </option>
                <option value="text-top right">
                    Top Right
                </option>
            </sw-select-field>
        {% endblock %}
        {% block sw_cms_element_image_config_text_margin %}
            <label>Text element margins in px or rem</label>
            <div class="text-margin flex-column" style="height: 250px; width: 100%;">
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <sw-text-field
                            id="textMarginTop"
                            v-model="element.config.textMarginTop.value"
                            label="Top"
                            disabled
                            placeholder="10px"
                            @input="onChangeTextMarginTop"
                            @change="onChangeTextMarginTop"
                    />
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <sw-text-field
                            id="textMarginLeft"
                            v-model="element.config.textMarginLeft.value"
                            label="Left"
                            placeholder="10px"
                            @input="onChangeTextMarginLeft"
                            @change="onChangeTextMarginLeft"
                    />
                    <sw-text-field
                            id="textMarginRight"
                            v-model="element.config.textMarginRight.value"
                            label="Right"
                            disabled
                            placeholder="10px"
                            @input="onChangeTextMarginRight"
                            @change="onChangeTextMarginRight"
                    />
                </div>
                <div style="display: flex; flex-direction: row; justify-content: center;">
                    <sw-text-field
                            id="textMarginBottom"
                            v-model="element.config.textMarginBottom.value"
                            label="Bottom"
                            placeholder="10px"
                            @input="onChangeTextMarginBottom"
                            @change="onChangeTextMarginBottom"
                    />
                </div>

            </div>
        {% endblock %}
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_config_media_modal %}
            <sw-media-modal-v2
                    v-if="mediaModalIsOpen"
                    variant="regular"
                    :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                    :entity-context="cmsPageState.entityName"
                    :allow-multi-select="false"
                    :initial-folder-id="cmsPageState.defaultMediaFolderId"
                    @media-upload-remove-image="onImageRemove"
                    @media-modal-selection-change="onSelectionChanges"
                    @modal-close="onCloseModal"
            />
        {% endblock %}
    </div>
{% endblock %}
