{% block sw_cms_element_image_text_overlay_preview %}
    <div class="sw-cms-el-image-text-overlay-preview">
        <div class="sw-cms-el-image-container">
            <img
                    :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                    alt=""
            >
        </div>
        <div class="sw-cms-el-image-text-overlay-text">
            <div class="text-container">
                <h3>Example header</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
        </div>
    </div>
{% endblock %}