.no-gap {
  .grid-block {
    column-gap: 0;
  }
}

.no-gap-1 {
  div:nth-of-type(1) {
    &.grid-block {
      column-gap: 0;
    }
  }
}
.no-gap-2 {
  div:nth-of-type(2) {
    &.grid-block {
      column-gap: 0;
    }
  }
}
.no-gap-3 {
  div:nth-of-type(3) {
    &.grid-block {
      column-gap: 0;
    }
  }
}
