.sw-cms-el-text-with-link-wrapper {
  display: flex;
  max-width: 100%;
  position: relative;
  max-height:100%;
  flex-grow: 1;

  .sw-cms-el-text-with-link {
    display:grid;
    background-color: #fffacc95;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px;
    .sw-text-editor {
      position: relative;
      .sw-text-editor__content, .sw-text-editor__box {
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      h2, h1, h3, h4, h5, h6 {
        margin: 0 auto;
        max-width: 100%;
      }


      .sw-text-editor__content-editor {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: calc(var(--visibleLineAmount) + 1);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;
        p {
          color: var(--ellipsisColor);
        }
      }
    }
    .is--link-button {
      opacity: 100;
      border: none;
      background: transparent;
      padding: 0;
      width: fit-content;
      margin-left: auto;
    }
  }
}