{% block sw_cms_text_with_link %}
    <div
            class="sw-cms-el-text-with-link-wrapper"
            :style="styles"
    >
        {% block sw_cms_element_text_with_link_text_content %}
            <div class="sw-cms-el-text-with-link" :style="textContainerMarkup">
                <sw-text-editor
                        :style="textEditorStyles"
                        v-model="element.config.content.value"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
                        {#                                                sanitize-input#}
                        @blur="onBlur"
                        @input="onInput"
                />
                <sw-button :style="linkButtonStyles" class="is--link-button" v-if="element.config.url.value">{{ element.config.buttonText.value }}</sw-button>
            </div>
        {% endblock %}
    </div>
{% endblock %}
