.sw-cms-block-image-text-three-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    grid-gap: 40px;

    .sw-cms-el-image-with-link.is--cover {
        min-height: 300px;
    }
}
