<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_two_grid_3_9_preview %}
    <div class="grid-block rc-cms-block-preview-two-grid-block-3-9">
        <div>
{#            <img#}
{#                    :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"#}
{#                    alt=""#}
{#            >#}
{#            <span>Text</span>#}
        </div>
        <div>
{#            <img#}
{#                    :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset"#}
{#                    alt=""#}
{#            >#}
{#            <span >Text</span>#}
        </div>
    </div>
{% endblock %}
