.sw-cms-preview-image-text-three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 15px;
    height: 120px;
    position: relative;
    div {
        width: 100%;
        height: 90px;
        position: relative;
        img {
            position: relative;
            display: block;
            object-fit: cover;
            width: 100%;
            height: 90px;
        }
        div {
            position: absolute;
            bottom:0;
            overflow: hidden;
            max-height: 16px;
            transition: max-height 0.5s ease-out;
            background-color: #fffacc95;
            text-overflow: ellipsis;
            h2 {
                margin: 0 auto;
                max-width: 85%;
                font-size: 8px;
            }
            p {
                display: -webkit-box;
                max-width: 85%;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: unset;
                font-size: 6px;
                margin: 0 auto;
            }

        }
        &:hover {
            div {
                max-height: 40px;
                transition: max-height 0.5s ease-in;
            }
        }
    }
}
