<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_image_text_four_column_preview %}
    <div class="sw-cms-preview-image-text-three-column">
        <div>
            <img
                    :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
                    alt=""
            >
            <div>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>

        </div>
        <div>
            <img
                    :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset"
                    alt=""
            >
            <div>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
        </div>
        <div>
            <img
                    :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset"
                    alt=""
            >
            <div>
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
        </div>
    </div>
{% endblock %}
