{% block sw_cms_element_image %}
    <div
            class="sw-cms-el-image-text-overlay-wrapper"
            :class="displayModeClass"
            :style="styles"
    >
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_image_text_overlay_image_content %}
                <img
                        :src="mediaUrl"
                        :style="imgStyles"
                        alt=""
                >
        {% endblock %}
        {% block sw_cms_element_image_text_overlay_text_content %}
            <div class="sw-cms-el-image-overlay" :style="textContainerMarkup" :class="textContainerClasses">
                <sw-text-editor
                        :style="textEditorStyles"
                        v-model="element.config.content.value"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
                        {#                                                sanitize-input#}
                        @blur="onBlur"
                        @input="onInput"
                />
                <sw-button :style="linkButtonStyles" :class="getButtonClasses" v-if="element.config.url.value">{{ element.config.buttonText.value }}</sw-button>
            </div>
        {% endblock %}
    </div>
{% endblock %}
