.sw-cms-el-image-text-overlay-wrapper {
  display: flex;
  max-width: 100%;
  position: relative;
  height: 100%;

  img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    //aspect-ratio: 1;
  }

  &.is--cover {
    height: 100%;
    width: 100%;
    position: relative;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &.is--display-type-square, .is--display-type-circle {

      img {
        height: unset;
        aspect-ratio: 1;
      }
    }

    &.is--display-type-circle {
      img {
        border-radius: 50%;
      }
    }
  }

  &.is--stretch {
    img {
      width: 100%;
    }
  }

  .sw-cms-el-image-overlay {
    position: absolute;
    background-color: #fffacc95;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px;
    .sw-text-editor {
      position: relative;
      .sw-text-editor__content, .sw-text-editor__box {
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      h2, h1, h3, h4, h5, h6 {
        margin: 0 auto;
        max-width: 100%;
      }


      p {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: var(--visibleLineAmount);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;
        color: var(--ellipsisColor);
      }
    }
    &.is--slider-enabled {
      &.bottom-up {
        bottom: 0;
        width: 100%;
        height: 2rem;
        transition: height 0.5s ease-out;
      }

      &.top-down {
        display: flex;
        flex-direction: column-reverse;
        top: 0;
        height: 2rem;
        width: 100%;
        transition: height 0.5s ease-out;
      }

      &.left-right {
        //display:flex;
        //flex-direction: column-reverse;
        left: 0;
        width: 2rem;
        height: 100%;
        padding: 10px 0;
        transition: width 0.5s ease-out;
        writing-mode: vertical-rl;
        text-orientation: upright;

        p {
          display: none;
        }
      }

      &.right-left {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        right: 0;
        width: 2rem;
        height: 100%;
        padding: 10px 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
        transition: width 0.5s ease-out;

        p {
          display: none;
        }
      }

    }

    &.is--slider-disabled {
      &.bottom-up {
        bottom: 0;
        width: 100%;
        height: calc(var(--sliderSize) + 2rem);
      }
      &.top-down {
        top: 0;
        width: 100%;
        height: calc(var(--sliderSize) + 2rem);
      }

      &.left-right {
        left:0;
        height: 100%;
        width: var(--sliderSize);
      }
      &.right-left {
        right: 0;
        height: 100%;
        width: var(--sliderSize);
      }
    }
    .is--overlay-slider-button {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 15px;
    }
    .is--overlay-visible-button {
      opacity: 100;
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 15px;
    }
  }

  &:hover {
    .sw-cms-el-image-overlay {
      &.is--slider-enabled {
        &.bottom-up {
          height: calc(var(--sliderSize) + 2rem);
          transition: height 0.5s ease-in;
        }

        &.top-down {
          height: var(--sliderSize);
          transition: height 0.5s ease-in;
        }

        &.left-right {
          width: var(--sliderSize);
          transition: width 0.5s ease-out;
          writing-mode: unset;
          text-orientation: unset;
          padding: 10px 15px;
          p {
            display: -webkit-box;

          }
        }

        &.right-left {
          width: var(--sliderSize);
          transition: width 0.5s ease-out;
          writing-mode: unset;
          text-orientation: unset;
          padding: 10px 15px;
          p {
            display: -webkit-box;

          }
        }
      }
    }
    .is--overlay-slider-button {
      opacity: 100;
      transition: opacity 0.5s ease-in;
      border: none;
      background: transparent;
      padding: 0;
    }
  }
}