<div>
    {% block block_image_image_double_image %}
        {% set element = block.slots.getSlot('center') %}
        <div class="d-flex" data-cms-element-id="{{ element.id }}">
            {% block block_image_left_sibling_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
</div>