{% block block_image_text_four_column %}

    {% set columns = 3 %}

    {% block block_image_text_three_column_left %}
        {% set element = block.slots.getSlot('left') %}
        <div class="grid-block col-sm-12 col-md-4 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
            {% block block_image_text_four_column_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block block_image_text_three_column_center %}
        {% set element = block.slots.getSlot('center') %}
        <div class="grid-block col-sm-12 col-md-4 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
            {% block block_image_text_four_column_center_left_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}


    {% block block_image_text_three_column_right %}
        {% set element = block.slots.getSlot('right') %}
        <div class="grid-block col-sm-12 col-md-4 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
            {% block block_image_text_four_column_right_inner %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
