{% block block_image_image_text_sibling %}
    {% set element = block.slots.getSlot('center') %}
    <div class="" data-cms-element-id="{{ element.id }}">
        {% block block_image_text_sibling_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}