{% block block_two_column %}
    {% set noGap = 'no-gap' in block.cssClass %}
        {% block block_three_column_left %}
            {% set element = block.slots.getSlot('left') %}
            <div class="grid-block no-custom-figure {%if noGap %} pe-0 {% endif%} col-sm-6 col-lg-3 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_four_column_left_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}

    {% set noGap = 'no-gap' in block.cssClass %}
        {% block block_three_column_midLeft %}
            {% set element = block.slots.getSlot('midLeft') %}
            <div class="grid-block no-custom-figure  {%if noGap %} ps-0 p-0 {% endif%} col-sm-6 col-lg-3 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_four_column_midLeft_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block block_four_column_midRight %}
            {% set element = block.slots.getSlot('midRight') %}
            <div class="grid-block no-custom-figure  {%if noGap %} ps-0 p-0 {% endif%}col-sm-6 col-lg-3 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_four_column_midRight_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block block_four_column_right %}
            {% set element = block.slots.getSlot('right') %}
            <div class="grid-block no-custom-figure  {%if noGap %} ps-0 {% endif%}col-sm-6  col-lg-3 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_four_column_right_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}
{% endblock %}