{% block block_two_column %}
    {% set noGap = 'no-gap' in block.cssClass %}
        {% block block_three_column_left %}
            {% set element = block.slots.getSlot('left') %}
            <div class="grid-block no-custom-figure  {%if noGap %} pe-0 {% endif%} col-sm-12 col-md-6 col-lg-3 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_three_column_left_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}

    {% set noGap = 'no-gap' in block.cssClass %}
        {% block block_three_column_center %}
            {% set element = block.slots.getSlot('center') %}
            <div class="grid-block no-custom-figure  {%if noGap %} ps-0 pe-0 {% endif%} col-sm-12 col-md-6 col-lg-3 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_three_column_center_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block block_three_column_right %}
            {% set element = block.slots.getSlot('right') %}
            <div class="grid-block no-custom-figure  {%if noGap %} ps-0 {% endif%}  col-sm-12 col-md-12 col-lg-6 {{ block.cssClass }}" data-cms-element-id="{{ element.id }}">
                {% block block_three_column_right_inner %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                {% endblock %}
            </div>
        {% endblock %}
{% endblock %}