<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block rc_cms_block_two_grid_block_3_5_4 %}
<div class="grid-block rc-cms-block-three-grid-block-3-5-4">
    <slot name="left"></slot>
    <slot name="center"></slot>
    <slot name="right"></slot>
</div>
{% endblock %}
