<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_image_preview %}
<div class="sw-cms-el-preview-double-image">
    <img
        :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
        alt=""
    >
    <img
        :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset"
        alt=""
    >
</div>
{% endblock %}
