.sw-cms-el-preview-double-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display:flex;

    img {
        margin: 0;
        display: block;
        width: 50%;
    }
}
