.rc-cms-block-preview-two-grid-block-8-4 {
    display: grid;
    grid-template-columns: 8fr 4fr;
    height: 150px;
    div {
        box-sizing: border-box;
        background-color: grey;
        &:first-of-type {
            border-right: 1px solid black;
        }
    }
}
