{% block sw_cms_element_custom_image %}
    <div
            class="sw-cms-el-custom-image-wrapper"
            :class="displayModeClass"
            :style="styles"
    >
        {% block sw_cms_element_container %}
            <div class="img" :style="imgStyles">
        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_cms_element_custom_image %}
                <img
                        :src="mediaUrl"
                        :style="imageMarkup"
                        alt=""
                >
        {% endblock %}
        {% block sw_cms_element_custom_image_text_content %}
            <div  class="sw-cms-el-custom-image-overlay" :style="textContainerMarkup" :class="textContainerClasses">
                <sw-text-editor
                        :style="textEditorStyles"
                        v-model="element.config.text.value"
                        :allow-inline-data-mapping="true"
                        :is-inline-edit="true"
                        @blur="onBlur"
                        @input="onInput"
                />
                <sw-button :style="linkButtonStyles" :class="getButtonClasses" v-if="element.config.url.value">{{ element.config.buttonText.value }}</sw-button>
            </div>
        {% endblock %}

                {% block sw_cms_element_custom_image_link_text %}
                    <span class="image-link-span" :style="linkStyles">{{ linkText }}</span>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
