.sw-cms-el-custom-image-wrapper {
  display: flex;
  max-width: 100%;
  position: relative;
  height: 100%;

  .img {
    display: block;
    max-width: 100%;
    position: relative;

    //aspect-ratio: 1;
  }

  span {
    &.image-link-span {
      position: absolute;
      width: fit-content;
      height: fit-content;
      color: #062535;
      z-index: 10;
      font-size: 15px;
    }
  }

  &.text-bottom {
    span {
      &.image-link-span {
        left: 0;
        right: 0;
        margin-top: auto;
        bottom: 0;
      }
    }
  }

  &.text-center {
    span {
      &.image-link-span {
        top: 0;
        bottom: 0;
        margin: auto 0;
      }
    }
    &.center {
      span {
        &.image-link-span {
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }

  &.text-top {
    span {
      &.image-link-span {
        left: 0;
        right: 0;
        margin-bottom: auto;
        top: 0
      }
    }
  }

  &.center {
    span {
      &.image-link-span {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }
  }

  &.left {
    span {
      &.image-link-span {
        right: auto;
        left: 0;
      }
    }
  }

  &.right {
    span {
      &.image-link-span {
        left: auto;
        right: 0;
      }
    }
  }

  &.is--standard {
    .img {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  &.is--cover {
    .img {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &.is--circle {
    img {
      border-radius: 50%;
    }
  }

  &.is--stretch {
    .img {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        object-fit: fill;
        height: 100%;
      }
    }
  }

  &.is--standard, &.is--cover , &.is--stretch {
    &.position-horizontal--center {
      .img{
        margin: 0 auto;
      }


      &.position-vertical--center {
        .img{
          margin-top: auto;
          margin-bottom: auto;
        }

      }
      &.position-vertical--top {
        .img{
          margin-top: 0;
          margin-bottom: auto;
        }

      }
      &.position-vertical--bottom {
        .img{
          margin-top: auto;
          margin-bottom: 0;
        }
      }
    }

    &.position-horizontal--left {
      .img{
        margin: 0 auto 0 0;
      }

      &.position-vertical--center {
        .img {
          margin-top: auto;
          margin-bottom: auto;
        }

      }
      &.position-vertical--top {
        .img {
          margin-top: 0;
          margin-bottom: auto;
        }
      }
      &.position-vertical--bottom {
        .img {
          margin-top: auto;
          margin-bottom: 0;
        }
      }
    }

    &.position-horizontal--right {
      .img {
        margin:0 0 0 auto;
      }

      &.position-vertical--center {
        .img {
          margin-top: auto;
          margin-bottom: auto;
        }
      }
      &.position-vertical--top {
        .img {
          margin-top: 0;
          margin-bottom: auto;
        }

      }
      &.position-vertical--bottom {
        .img {
          margin-top: auto;
          margin-bottom: 0;
        }

      }
    }
  }

  .sw-cms-el-custom-image-overlay {
    position: absolute;
    background-color: #fffacc95;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 15px;
    display: none;

    &.has-text {
      display: block;
    }
    .sw-text-editor {
      position: relative;
      .sw-text-editor__content, .sw-text-editor__box {
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      h2, h1, h3, h4, h5, h6 {
        margin: 0 auto;
        max-width: 100%;
      }


      p {
        display: -webkit-box;
        width: 100%;
        -webkit-line-clamp: var(--visibleLineAmount);
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: unset;
        margin: 0 auto;
        color: var(--ellipsisColor);
      }
    }
    &.is--slider-enabled {
      &.bottom-up {
        bottom: 0;
        width: 100%;
        height: calc(2rem + 20px);
        transition: height 0.5s ease-out;
        p {
          display: none;
        }
      }

      &.top-down {
        display: flex;
        flex-direction: column-reverse;
        top: 0;
        height: calc(2rem + 20px);
        width: 100%;
        transition: height 0.5s ease-out;
        p {
          display: none;
        }
      }

      &.left-right {
        //display:flex;
        //flex-direction: column-reverse;
        left: 0;
        width: 2rem;
        height: 100%;
        padding: 10px 0;
        transition: width 0.5s ease-out;
        writing-mode: vertical-rl;
        text-orientation: upright;

        p {
          display: none;
        }
      }

      &.right-left {
        display: flex;
        justify-content: flex-end;
        flex-direction: row-reverse;
        right: 0;
        width: 2rem;
        height: 100%;
        padding: 10px 0;
        writing-mode: vertical-lr;
        text-orientation: upright;
        transition: width 0.5s ease-out;

        p {
          display: none;
        }
      }

    }

    &.is--slider-disabled {
      &.bottom-up {
        bottom: 0;
        width: 100%;
        height: var(--sliderSize);
      }
      &.top-down {
        top: 0;
        width: 100%;
        height: var(--sliderSize);
      }

      &.left-right {
        left:0;
        height: 100%;
        width: var(--sliderSize);
      }
      &.right-left {
        right: 0;
        height: 100%;
        width: var(--sliderSize);
      }
    }
    .is--overlay-slider-button {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 15px;
    }
    .is--overlay-visible-button {
      opacity: 100;
      border: none;
      background: transparent;
      padding: 0;
      position: absolute;
      right: 15px;
    }
  }

  &:hover {
    .sw-cms-el-custom-image-overlay {
      &.is--slider-enabled {
        &.bottom-up {
          height: var(--sliderSize);
          transition: height 0.5s ease-in;
          p {
            display: -webkit-box;

          }
        }

        &.top-down {
          height: var(--sliderSize);
          transition: height 0.5s ease-in;
          p {
            display: -webkit-box;

          }
        }

        &.left-right {
          width: var(--sliderSize);
          transition: width 0.5s ease-out;
          writing-mode: unset;
          text-orientation: unset;
          padding: 10px 15px;
          p {
            display: -webkit-box;

          }
        }

        &.right-left {
          width: var(--sliderSize);
          transition: width 0.5s ease-out;
          writing-mode: unset;
          text-orientation: unset;
          padding: 10px 15px;
          p {
            display: -webkit-box;

          }
        }
      }
    }
    .is--overlay-slider-button {
      opacity: 100;
      transition: opacity 0.5s ease-in;
      border: none;
      background: transparent;
      padding: 0;
    }
  }
}